@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
html, body,
h1, h2, h3, h4, h5, h6,
input, select, textarea, button, option {
  font-family: "SpoqaHanSansNeo", "Noto Sans KR", sans-serif;
}

html {
  position: relative;
}

html, body {
  font-weight: normal;
  color: #555;
}

body {
  position: relative;
  font-size: 16px;
}

body, div, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, fieldset, legend, button, p, pre, blockquote, menu, figure, input {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, select, input, textarea, p, blockquote, th, td, menu, button, a, span, strong, label, header, footer, section, article, aside, nav, hgroup, details, figure, figcaption {
  word-break: break-word;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*h1, h2, h3, h4, h5, h6, input, select, textarea, button, option {fonts.scss-size:14px;fonts.scss-weight:normal;color:inherit;}*/
pre, code, samp, kbd {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6, strong, b, th {
  font-weight: bold;
}

em, var, address {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

legend, fieldset, button, img {
  border: 0 none;
}

input, select, textarea, button, label, strong, a, time {
  vertical-align: inherit;
}

input, select, textarea, button, option {
  font-family: inherit;
  font-weight: inherit;
}

/* input, select, textarea {appearance:none;-webkit-appearance:none;} */
input[type=text]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

button, select, option {
  color: inherit;
  text-transform: none;
}

textarea {
  resize: none;
}

caption, legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  overflow: visible;
  text-align: left;
  cursor: pointer;
  background: none;
}

.project-main .intro article {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/img.jpg") no-repeat center;
  background-size: cover;
}
.project-main .intro article .title {
  position: absolute;
  left: 0;
  bottom: 2rem;
  padding: 0 1.2rem;
}
.project-main .intro article .title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 9vw;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
}
.project-main .overview {
  padding: 1em 1.2rem;
  margin-bottom: 5em;
}
.project-main .overview article {
  position: relative;
  width: 100%;
  height: 100vh;
}
.project-main .overview article .credit {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  padding-bottom: 5em;
  font-size: 0.8rem;
}
.project-main .overview article .title {
  line-height: 1;
}
.project-main .overview article .title h3 {
  font-size: 5vw;
  font-weight: 400;
}
.project-main .overview article .content {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding-top: 5em;
}
.project-main .overview article .content .link a figure {
  width: 250px;
  border: 8px solid #222;
  border-radius: 4px;
}
.project-main .overview article .content .link a figure img {
  width: 100%;
}
.project-main .overview article .content .link a p {
  display: inline-flex;
  margin-top: 4px;
  font-size: 1.375rem;
  text-transform: uppercase;
  overflow: hidden;
}
.project-main .overview article .content .link a p .arrows {
  position: relative;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
}
.project-main .overview article .content .link a p .arrows .arrow {
  display: inline-block;
  position: absolute;
  font-size: 1.2rem;
  transition: all 0.4s ease;
}
.project-main .overview article .content .link a:hover .arrows .arrow {
  animation: moveUp 1s linear infinite 0.5s;
}
@keyframes moveUp {
  0%, 40% {
    top: 0;
    left: 0;
  }
  50% {
    top: -20px;
    left: 20px;
  }
  50.1% {
    top: 20px;
    left: -20px;
  }
  60%, 100% {
    top: 0;
    left: 0;
  }
}
.project-main .overview article .content .intention {
  width: 70vw;
}
.project-main .overview article .content .intention .desc {
  font-size: 1.1rem;
}
.project-main .showing01 article .content figure {
  width: 100%;
}
.project-main .showing01 article .content figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .showing01 article .content .desc {
  display: block;
  margin-top: 0.5rem;
  padding: 0 1.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-main .showing02 {
  padding: 3em 0;
}
.project-main .showing02 article {
  padding: 0 1.2rem;
}
.project-main .showing02 article .content {
  display: flex;
  justify-content: space-between;
}
.project-main .showing02 article .content .intention {
  width: 50vw;
}
.project-main .showing02 article .content .intention .desc {
  position: sticky;
  top: 0;
  padding: 2em 0;
  font-size: 1.1rem;
}
.project-main .showing02 article .content .images {
  width: 30vw;
}
.project-main .showing02 article .content .images ul {
  display: flex;
  flex-direction: column;
}
.project-main .showing02 article .content .images ul li {
  width: 100%;
  height: 500px;
  padding: 1rem 0;
}
.project-main .showing02 article .content .images ul li .image {
  width: 100%;
  height: 100%;
}
.project-main .showing02 article .content .images ul li .image img {
  display: block;
  width: 100%;
  height: 100%;
}
.project-main .showing02 article .content .images ul li .desc {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-main .showing03 article {
  padding: 3em 1.2rem 10em;
}
.project-main .showing03 article .content .images ul {
  display: flex;
  gap: 1rem;
}
.project-main .showing03 article .content .images ul li {
  display: flex;
  flex-direction: column;
}
.project-main .showing03 article .content .images ul li .image {
  width: 100%;
  height: 100%;
}
.project-main .showing03 article .content .images ul li .image img {
  display: block;
  width: 100%;
  height: 100%;
}
.project-main .showing03 article .content .images ul li .desc {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-main .showing04 {
  padding: 1em 1.2rem;
}
.project-main .showing04 article {
  position: relative;
  width: 100%;
  padding: 3em 0 10em;
  border-top: 1px solid #222;
}
.project-main .showing04 article .credit {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  padding-bottom: 5em;
  font-size: 0.8rem;
}
.project-main .showing04 article .title {
  margin-top: 1rem;
  line-height: 1;
}
.project-main .showing04 article .title h3 {
  font-size: 5vw;
  font-weight: 400;
}
.project-main .showing04 article .content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.project-main .showing04 article .content .intention {
  width: 60vw;
}
.project-main .showing04 article .content .intention .desc {
  font-size: 1.1rem;
}
.project-main .showing04 article .content .images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.project-main .showing04 article .content .images-list .image-item {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 10em;
  max-width: 100%;
}
.project-main .showing04 article .content .images-list .image-item figure img {
  width: 100%;
}
.project-main .showing04 article .content .images-list .image-item .desc {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(1) {
  flex-basis: 40vw;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(2) {
  flex-basis: 30vw;
  margin-left: 2em;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(3) {
  flex-basis: 40vw;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(4) {
  flex-basis: 40vw;
  margin-left: auto;
}
.project-main .showing05 {
  padding: 1em 1.2rem;
}
.project-main .showing05 article {
  position: relative;
  width: 100%;
  padding: 3em 0 10em;
  border-top: 1px solid #222;
}
.project-main .showing05 article .credit {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  padding-bottom: 5em;
  font-size: 0.8rem;
}
.project-main .showing05 article .title {
  margin-top: 1rem;
  line-height: 1;
}
.project-main .showing05 article .title h3 {
  font-size: 5vw;
  font-weight: 400;
}
.project-main .showing05 article .content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.project-main .showing05 article .content .intention {
  width: 60vw;
}
.project-main .showing05 article .content .intention .desc {
  font-size: 1.1rem;
}
.project-main .showing05 article .content .images {
  margin-top: 5em;
}
.project-main .showing05 article .content .images figure {
  width: 100%;
}
.project-main .showing05 article .content .images figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .showing05 article .content .images .desc {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-main .footer-credit {
  padding: 1em 1.2rem;
}
.project-main .footer-credit article {
  display: flex;
  border-top: 1px solid #222;
  padding-top: 2em;
}
.project-main .footer-credit article .credit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35vw;
  padding-bottom: 5em;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-main .footer-credit article .credit .name {
  font-size: 1.25rem;
}

body {
  overflow-x: hidden;
  background-color: #F9F5EF;
  color: #222;
  font-family: "Montserrat", "Noto Sans KR", "sans-serif";
}

a {
  text-decoration: none;
  color: #222;
}

ul, ol, li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  transition: all 0.5s ease;
}
header h1 {
  font-family: "Montserrat", "Noto Sans KR", "sans-serif";
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 1rem;
}
header nav ul li:hover a {
  color: #f9f5ef;
  background-color: #282828;
  border-radius: 5px;
}
header nav ul li a {
  display: inline-block;
  padding: 2px 5px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

main {
  margin-left: auto;
  margin-right: auto;
}
main .hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.2rem;
  height: 100vh;
}
main .hero h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 9vw;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
}
main .project {
  padding: 0 1.2rem;
  height: 100vh;
}
main .project .project-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .project .project-wrap .project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
main .project .project-wrap .project-list .project-item {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 10em;
  max-width: 100%;
}
main .project .project-wrap .project-list .project-item h4 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2em;
}
main .project .project-wrap .project-list .project-item .project1 h5 {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1em;
}
main .project .project-wrap .project-list .project-item .project1 ul li {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}
main .project .project-wrap .project-list .project-item .project1 ul li a .check {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #222;
  border-radius: 50%;
  transition: all 0.5s ease;
}
main .project .project-wrap .project-list .project-item .project1 ul li a .check:after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  content: "";
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #222;
  border-radius: 50%;
  transition: all 0.2s ease;
}
main .project .project-wrap .project-list .project-item .project1 ul li:hover .check:after, main .project .project-wrap .project-list .project-item .project1 ul li.active .check:after {
  transform: translate(-50%, -50%) scale(2);
}
main .project .project-wrap .project-list .project-item .project2 {
  margin-top: 2em;
}
main .project .project-wrap .project-list .project-item .project2 h5 {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1em;
}
main .project .project-wrap .project-list .project-item .project2 ul li {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}
main .project .project-wrap .project-list .project-item .project2 ul li a .check {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #222;
  border-radius: 50%;
  transition: all 0.5s ease;
}
main .project .project-wrap .project-list .project-item .project2 ul li a .check:after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  content: "";
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #222;
  border-radius: 50%;
  transition: all 0.2s ease;
}
main .project .project-wrap .project-list .project-item .project2 ul li:hover .check:after, main .project .project-wrap .project-list .project-item .project2 ul li.active .check:after {
  transform: translate(-50%, -50%) scale(2);
}
main .project .project-wrap .project-list .project-item a .thumbnail figure img {
  width: 100%;
}
main .project .project-wrap .project-list .project-item a .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
main .project .project-wrap .project-list .project-item a .desc strong {
  display: block;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
}
main .project .project-wrap .project-list .project-item a .desc span {
  font-size: 1.375rem;
}
main .project .project-wrap .project-list .project-item:nth-of-type(1) {
  flex-basis: 30vw;
}
main .project .project-wrap .project-list .project-item:nth-of-type(2) {
  flex-basis: 60vw;
  margin-left: auto;
}
main .project .project-wrap .project-list .project-item:nth-of-type(3) {
  flex-basis: 40vw;
}
main .project .project-wrap .project-list .project-item:nth-of-type(4) {
  flex-basis: 30vw;
  margin-left: 2em;
}
main .project .project-wrap .project-list .project-item:nth-of-type(5) {
  flex-basis: 40vw;
}
main .project .project-wrap .project-list .project-item:nth-of-type(6) {
  flex-basis: 40vw;
  margin-left: auto;
}
main .project .project-wrap .project-list .project-item:nth-of-type(7) {
  flex-basis: 40vw;
  margin-left: auto;
}
main .project .project-wrap .project-list .project-item:nth-of-type(8) {
  flex-basis: 40vw;
  margin-left: 2em;
}

/*# sourceMappingURL=style.css.map */
