@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html, body,
h1, h2, h3, h4, h5, h6,
input, select, textarea, button, option {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

html, body {
  font-weight: normal;
  color: #555;
}

body {
  position: relative;
  font-size: 16px;
}

body, div, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, fieldset, legend, button, p, pre, blockquote, menu, figure, input {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, select, input, textarea, p, blockquote, th, td, menu, button, a, span, strong, label, header, footer, section, article, aside, nav, hgroup, details, figure, figcaption {
  word-break: break-word;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*h1, h2, h3, h4, h5, h6, input, select, textarea, button, option {fonts.scss-size:14px;fonts.scss-weight:normal;color:inherit;}*/
pre, code, samp, kbd {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6, strong, b, th {
  font-weight: bold;
}

em, var, address {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

legend, fieldset, button, img {
  border: 0 none;
}

input, select, textarea, button, label, strong, a, time {
  vertical-align: inherit;
}

input, select, textarea, button, option {
  font-family: inherit;
  font-weight: inherit;
}

/* input, select, textarea {appearance:none;-webkit-appearance:none;} */
input[type=text]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

button, select, option {
  color: inherit;
  text-transform: none;
}

textarea {
  resize: none;
}

caption, legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  overflow: visible;
  text-align: left;
  cursor: pointer;
  background: none;
}

.project-main {
  padding-top: 60px;
}
.project-main .intro article {
  position: relative;
  height: 100%;
}
.project-main .intro article .intro-img img {
  width: 100%;
}
.project-main .intro article .title {
  position: absolute;
  left: 0;
  bottom: 2rem;
  padding: 0 1.2rem;
}
.project-main .intro article .title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 6vw;
  font-weight: 800;
  text-transform: uppercase;
}
.project-main .overview {
  padding: 1em 4rem 5em 4rem;
}
.project-main .overview article {
  position: relative;
  width: 100%;
  padding-bottom: 5em;
}
.project-main .overview article .credit {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  padding-bottom: 5em;
  font-size: 0.875rem;
}
.project-main .overview article .title {
  line-height: 1;
}
.project-main .overview article .title h3 {
  line-height: 1.2;
  font-size: 4vw;
  font-weight: 600;
}
.project-main .overview article .content {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding-top: 3em;
}
.project-main .overview article .content .intention {
  width: 45%;
}
.project-main .overview article .content .link a figure {
  position: relative;
  padding-bottom: 52%;
  width: 350px;
  border: 8px solid #222;
  border-radius: 4px;
}
.project-main .overview article .content .link a figure img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .overview article .content .link a .piino {
  display: flex;
  flex-direction: column;
}
.project-main .overview article .content .link a p {
  display: inline-flex;
  margin-top: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  overflow: hidden;
  color: #222;
}
.project-main .overview article .content .link a p .arrows {
  position: relative;
  display: inline-block;
  width: 0.8rem;
  height: 1.2rem;
}
.project-main .overview article .content .link a p .arrows .arrow {
  display: inline-block;
  position: absolute;
  font-size: 0.8rem;
  transition: all 0.4s ease;
}
.project-main .overview article .content .link a:hover .arrows .arrow {
  animation: moveUp 1s linear infinite 0.5s;
}
@keyframes moveUp {
  0%, 40% {
    top: 0;
    left: 0;
  }
  50% {
    top: -20px;
    left: 20px;
  }
  50.1% {
    top: 20px;
    left: -20px;
  }
  60%, 100% {
    top: 0;
    left: 0;
  }
}
.project-main .overview article .content .intention .desc {
  font-size: 1.5rem;
}
.project-main .showing article .title {
  margin-top: 1rem;
  line-height: 1;
}
.project-main .showing article .title h3 {
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.3;
  padding: 0 4rem;
}
.project-main .showing article .content .desc {
  display: block;
  margin-top: 0.5rem;
  padding: 0 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.project-main .showing article .content figure {
  width: 100%;
}
.project-main .showing article .content figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .showing article .content .images ul,
.project-main .showing article .content .images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
}
.project-main .showing article .content .images ul li,
.project-main .showing article .content .images ul .imges-item,
.project-main .showing article .content .images-list li,
.project-main .showing article .content .images-list .imges-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project-main .showing article .content .images ul li .image-box,
.project-main .showing article .content .images ul .imges-item .image-box,
.project-main .showing article .content .images-list li .image-box,
.project-main .showing article .content .images-list .imges-item .image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 375/667;
  border-radius: 45px;
  border: 10px solid #222;
  overflow: hidden;
}
.project-main .showing article .content .images ul li .image-box .image,
.project-main .showing article .content .images ul li .image-box figure,
.project-main .showing article .content .images ul .imges-item .image-box .image,
.project-main .showing article .content .images ul .imges-item .image-box figure,
.project-main .showing article .content .images-list li .image-box .image,
.project-main .showing article .content .images-list li .image-box figure,
.project-main .showing article .content .images-list .imges-item .image-box .image,
.project-main .showing article .content .images-list .imges-item .image-box figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-main .showing article .content .images ul li .image-box .image img,
.project-main .showing article .content .images ul li .image-box figure img,
.project-main .showing article .content .images ul .imges-item .image-box .image img,
.project-main .showing article .content .images ul .imges-item .image-box figure img,
.project-main .showing article .content .images-list li .image-box .image img,
.project-main .showing article .content .images-list li .image-box figure img,
.project-main .showing article .content .images-list .imges-item .image-box .image img,
.project-main .showing article .content .images-list .imges-item .image-box figure img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
.project-main .showing01 article .content figure {
  width: 100%;
}
.project-main .showing01 article .content figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .showing01 article .content .desc {
  display: block;
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.project-main .showing02 {
  padding: 3em 0;
}
.project-main .showing02 article {
  padding: 0 4rem;
}
.project-main .showing02 article .content {
  display: flex;
  justify-content: flex-start;
  gap: 8rem;
}
.project-main .showing02 article .content .intention {
  width: 50vw;
}
.project-main .showing02 article .content .intention .desc {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: sticky;
  top: 0;
  padding: 2em 0;
  font-size: 1.5rem;
}
.project-main .showing02 article .content .intention .desc .tit {
  font-family: var(--font-title);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 1.625rem;
}
.project-main .showing02 article .content .images {
  width: 30vw;
}
.project-main .showing02 article .content .images ul {
  display: flex;
  flex-direction: column;
}
.project-main .showing02 article .content .images ul li {
  width: 100%;
  padding: 1rem 0;
}
.project-main .showing02 article .content .images ul li .image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 375/667;
  border-radius: 45px;
  border: 8px solid #222;
  overflow: hidden;
}
.project-main .showing02 article .content .images ul li .image-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-main .showing02 article .content .images ul li .image-box .image img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
.project-main .showing02 article .content .images ul li .desc {
  margin-top: 1rem;
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.project-main .showing03 article {
  padding: 3em 4rem 10em;
}
.project-main .showing03 article .content .images ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 10em;
}
.project-main .showing03 article .content .images ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project-main .showing03 article .content .images ul li .image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 375/667;
  border-radius: 45px;
  border: 8px solid #222;
  overflow: hidden;
}
.project-main .showing03 article .content .images ul li .image-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-main .showing03 article .content .images ul li .image-box .image img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
.project-main .showing03 article .content .images ul li .desc {
  margin-top: 2rem;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.project-main .showing03 article .content .images ul li .desc .tit {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 1.25rem;
}
.project-main .showing04 {
  padding-top: 3em;
}
.project-main .showing04 article {
  position: relative;
  width: 100%;
  padding: 3em 4rem 10em;
  border-top: 1px solid #222;
}
.project-main .showing04 article .title {
  margin-top: 1rem;
  line-height: 1;
}
.project-main .showing04 article .title h3 {
  font-size: 4vw;
  line-height: 1.3;
  padding: 0;
}
.project-main .showing04 article .content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.project-main .showing04 article .content .intention {
  display: initial;
  width: 80vw;
}
.project-main .showing04 article .content .intention .desc {
  font-size: 1.5rem;
  padding: 1rem 0 0;
  margin: 0;
}
.project-main .showing04 article .content .intention .desc p {
  padding-bottom: 10px;
}
.project-main .showing04 article .content .images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.project-main .showing04 article .content .images-list .image-item {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 10em;
  max-width: 100%;
}
.project-main .showing04 article .content .images-list .image-item .image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 1280/700;
  border-radius: 45px;
  border: 10px solid #222;
  overflow: hidden;
}
.project-main .showing04 article .content .images-list .image-item .image-box figure {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.project-main .showing04 article .content .images-list .image-item .image-box figure img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: auto;
}
.project-main .showing04 article .content .images-list .image-item .desc {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(1) {
  flex-basis: 40vw;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(2) {
  flex-basis: 40vw;
  margin-left: 2em;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(3) {
  flex-basis: 40vw;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(4) {
  flex-basis: 40vw;
  margin-left: auto;
}
.project-main .showing04 article .content .images {
  width: 100%;
  margin-top: 5em;
}
.project-main .showing04 article .content .images ul {
  align-items: center;
}
.project-main .showing04 article .content .images ul li {
  width: 75vw;
}
.project-main .showing04 article .content .images ul li .image-box {
  aspect-ratio: 1280/700;
  border: 7px solid #222;
}
.project-main .showing04 article .content .images ul li .desc {
  font-weight: bold;
}
.project-main .showing04 article .content .images ul li:nth-of-type(1) {
  margin-right: auto;
}
.project-main .showing04 article .content .images ul li:nth-of-type(2) {
  margin-left: auto;
}
.project-main .showing04 article .content .images ul li:nth-of-type(4) {
  margin-left: auto;
}
.project-main .showing05 article {
  position: relative;
  width: 100%;
  padding: 3em 0 10em;
  border-top: 1px solid #222;
}
.project-main .showing05 article .content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.project-main .showing05 article .content .intention .desc {
  padding: 0 4rem;
}
.project-main .showing05 article .content .intention .desc p {
  padding-bottom: 10px;
}
.project-main .showing05 article .content .images {
  margin-top: 5em;
}
.project-main .showing05 article .content .images figure {
  width: 100%;
}
.project-main .showing05 article .content .images figure video {
  width: 80%;
}
.project-main .showing05 article .content .images figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .showing05 article .content .images figure.component {
  padding: 0 4rem;
}
.project-main .showing05 article .content .images figure.component img {
  width: 50vw;
}
.project-main .showing05 article .content .images .desc {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.project-main .showing05 article .content .images .desc.component {
  padding: 0 4rem;
}
.project-main .showing05 article .content .images.cookshare figure {
  padding: 0 4rem;
}
.project-main .showing05 article .content .images.cookshare figure img {
  width: 50vw;
}
.project-main .showing05 article .content .images.cookshare figure.flex-box {
  display: flex;
  gap: 1em;
}
.project-main .showing05 article .content .images.cookshare figure.flex-box img {
  width: 20vw;
}
.project-main .showing05 article .content .images.cookshare .desc {
  padding: 0 4rem;
}
.project-main .showing06 article {
  position: relative;
  width: 100%;
  padding: 3em 0 10em;
  border-top: 1px solid #222;
}
.project-main .showing06 article .content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.project-main .showing06 article .content .intention .desc {
  padding: 0 4rem;
}
.project-main .showing06 article .text-box {
  margin-top: 5em;
  padding: 0 4rem;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
}
.project-main .showing06 article .text-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.project-main .showing06 article .text-box ul li .cont {
  max-width: 300px;
  height: 350px;
  padding: 1em;
  background-color: #fff;
  border: 2px solid #222;
  border-radius: 20px;
}
.project-main .showing06 article .text-box ul li .cont .tit {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
}
.project-main .showing06 article .text-box ul li .cont ul {
  display: flex;
  flex-direction: column;
}
.project-main .showing06 article .text-box ul li .cont ul li {
  position: relative;
  margin-left: 0.5em;
  font-size: 1rem;
}
.project-main .showing06 article .text-box ul li .cont ul li::before {
  position: absolute;
  top: 1rem;
  left: -1rem;
  transform: translateY(-50%);
  display: inline-block;
  margin-right: 0.5em;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #222;
  border-radius: 50%;
  content: "";
}
.project-main .showing06 article .text-box .desc {
  font-size: 0.875rem;
  margin-top: 1rem;
  line-height: 1.5;
}
.project-main .footer-credit {
  padding: 1em 1.2rem;
}
.project-main .footer-credit article {
  display: flex;
  border-top: 1px solid #222;
  padding-top: 2em;
}
.project-main .footer-credit article .credit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35vw;
  padding-bottom: 5em;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.project-main .footer-credit article .credit .name {
  font-family: var(--font-title);
  font-size: 1.25rem;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .wrapper .project-main .overview {
    padding: 1em 2rem 5em 2rem;
  }
  .wrapper .project-main .overview article .credit {
    width: 50vw;
    font-size: 0.875rem;
  }
  .wrapper .project-main .overview article .title h3 {
    font-size: 5vw;
  }
  .wrapper .project-main .overview article .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .wrapper .project-main .overview article .content .intention {
    width: 100%;
  }
  .wrapper .project-main .overview article .content .intention .desc {
    font-size: 1.25rem;
  }
  .wrapper .project-main .overview article .content .link a figure {
    width: 250px;
    border: 6px solid #222;
  }
  .wrapper .project-main .overview article .content .link a p {
    font-size: 0.875rem;
  }
  .wrapper .project-main .showing article .title h3 {
    font-size: 5vw;
    padding: 0 2rem;
  }
  .wrapper .project-main .showing article .content .desc {
    font-size: 1.25rem;
    padding: 0 2rem;
  }
  .wrapper .project-main .showing01 article .content .desc {
    font-size: 0.875rem;
  }
  .wrapper .project-main .showing02 article {
    padding: 0 2rem;
  }
  .wrapper .project-main .showing02 article .content .intention .desc {
    font-size: 1.25rem;
    padding: 0;
  }
  .wrapper .project-main .showing02 article .content .intention .desc .tit {
    font-size: 1.375rem;
  }
  .wrapper .project-main .showing02 article .content .images ul li .desc {
    font-size: 1.125rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing02 article .content .images ul li .image-box {
    border: 5px solid #222;
    border-radius: 35px;
  }
  .wrapper .project-main .showing03 article {
    padding: 0 2rem 5em;
  }
  .wrapper .project-main .showing03 article .content .images ul {
    gap: 2rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .desc {
    padding: 0 1rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .desc .tit {
    font-size: 1.125rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .image-box {
    border: 6px solid #222;
    border-radius: 35px;
  }
  .wrapper .project-main .showing04 article {
    padding: 3em 2rem 10em;
  }
  .wrapper .project-main .showing04 article .title h3 {
    padding: 0;
  }
  .wrapper .project-main .showing04 article .content .intention .desc {
    padding: 0;
  }
  .wrapper .project-main .showing04 article .content .images ul li .desc {
    padding: 0 1rem;
  }
  .wrapper .project-main .showing04 article .content .images ul li .image-box {
    aspect-ratio: 1280/900;
    border: 5px solid #222;
    border-radius: 25px;
  }
  .wrapper .project-main .showing05 article .title h3 {
    padding: 0 2rem;
  }
  .wrapper .project-main .showing05 article .content .images {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .wrapper .project-main .showing05 article .content .images .desc {
    font-size: 0.75rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare {
    align-items: center;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare figure {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare figure img {
    width: 70vw;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare figure.flex-box {
    display: flex;
    gap: 1em;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare figure.flex-box img {
    width: 35vw;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare .desc {
    padding: 0;
  }
  .wrapper .project-main .showing05 article .content figure.component {
    padding: 0;
  }
  .wrapper .project-main .showing05 article .content figure.component video {
    width: 100%;
  }
  .wrapper .project-main .showing05 article .content figure.component img {
    width: 70vw;
  }
  .wrapper .project-main .showing06 article .title h3 {
    padding: 0 2rem;
  }
  .wrapper .project-main .showing06 article .content .text-box {
    padding: 0 2rem;
  }
  .wrapper .project-main .showing06 article .content .text-box .desc {
    padding: 0 1rem;
    font-size: 0.75rem;
  }
  .wrapper .project-main .footer-credit article .credit {
    font-size: 0.75rem;
  }
  .wrapper .project-main .footer-credit article .credit .name {
    font-size: 1rem;
  }
  .wrapper footer {
    margin-top: 5rem !important;
  }
}
@media screen and (max-width: 750px) {
  .wrapper header h1 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .wrapper header nav ul li {
    margin-left: 0;
  }
  .wrapper header nav ul li a {
    padding: 2px 10px;
    font-size: 1rem;
  }
  .wrapper .project-main .intro article .title h2 {
    line-height: initial;
    word-break: keep-all;
    font-size: 8vw;
  }
  .wrapper .project-main .overview {
    padding: 1em 1rem 5em 1rem;
  }
  .wrapper .project-main .overview article {
    height: initial;
  }
  .wrapper .project-main .overview article .credit {
    width: 100%;
    padding-bottom: 2em;
    font-size: 0.75rem;
  }
  .wrapper .project-main .overview article .title h3 {
    font-size: 6vw;
    font-weight: 500;
  }
  .wrapper .project-main .overview article .content {
    flex-direction: column;
    align-items: normal;
    padding-top: 2em;
  }
  .wrapper .project-main .overview article .content .intention {
    width: 100%;
  }
  .wrapper .project-main .overview article .content .intention .desc {
    font-size: 1rem;
  }
  .wrapper .project-main .overview article .content .link a figure {
    position: initial;
    padding-bottom: 0;
    width: 250px;
    border: 4px solid #222;
  }
  .wrapper .project-main .overview article .content .link a figure img {
    position: initial;
  }
  .wrapper .project-main .overview article .content .link a p {
    font-size: 0.75rem;
  }
  .wrapper .project-main .overview article .content .link a p .arrow {
    font-size: 0.75rem;
  }
  .wrapper .project-main .showing01 article .content .desc {
    padding: 0 1rem;
    font-size: 0.75rem;
  }
  .wrapper .project-main .showing02 article {
    padding: 0 1rem;
  }
  .wrapper .project-main .showing02 article .content {
    display: initial;
  }
  .wrapper .project-main .showing02 article .content .intention {
    width: 100%;
  }
  .wrapper .project-main .showing02 article .content .intention .desc {
    font-size: 1rem;
  }
  .wrapper .project-main .showing02 article .content .intention .desc .tit {
    font-size: 1.125rem;
  }
  .wrapper .project-main .showing02 article .content .images {
    width: 100%;
  }
  .wrapper .project-main .showing02 article .content .images ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .project-main .showing02 article .content .images ul li {
    width: 80%;
  }
  .wrapper .project-main .showing02 article .content .images ul li .desc {
    font-size: 0.875rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing02 article .content .images ul li .image-box {
    border: 6px solid #222;
    border-radius: 35px;
  }
  .wrapper .project-main .showing03 article {
    padding: 0 1rem 5em;
  }
  .wrapper .project-main .showing03 article .content .images ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li {
    width: 80%;
  }
  .wrapper .project-main .showing03 article .content .images ul li .desc {
    font-size: 0.75rem;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .desc .tit {
    font-size: 0.875rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .image-box {
    border: 6px solid #222;
    border-radius: 35px;
  }
  .wrapper .project-main .showing04 article {
    padding: 3em 1rem 5em;
  }
  .wrapper .project-main .showing04 article .title h3 {
    font-size: 6vw;
    font-weight: 600;
    word-break: keep-all;
    padding: 0;
  }
  .wrapper .project-main .showing04 article .content .intention {
    width: 100%;
  }
  .wrapper .project-main .showing04 article .content .intention .desc {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .wrapper .project-main .showing04 article .content .images ul {
    gap: 3rem;
  }
  .wrapper .project-main .showing04 article .content .images ul li {
    width: 100%;
  }
  .wrapper .project-main .showing04 article .content .images ul li .desc {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing04 article .content .images ul li .image-box {
    border: 5px solid #222;
    border-radius: 20px;
    aspect-ratio: 1280/900;
  }
  .wrapper .project-main .showing04 article .content .images-list {
    display: initial;
  }
  .wrapper .project-main .showing04 article .content .images-list .image-item {
    margin-top: 5em;
  }
  .wrapper .project-main .showing04 article .content .images-list .image-item .image-box {
    aspect-ratio: 1280/900;
    border: 5px solid #222;
    border-radius: 20px;
  }
  .wrapper .project-main .showing04 article .content .images-list .image-item:nth-of-type(2) {
    margin-left: 0;
  }
  .wrapper .project-main .showing05 article {
    padding: 3em 0 5em;
  }
  .wrapper .project-main .showing05 article .title h3 {
    font-size: 6vw;
    font-weight: 600;
    word-break: keep-all;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing05 .content .intention {
    width: 100% !important;
  }
  .wrapper .project-main .showing05 .content .intention .desc {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing05 .content .images {
    padding: 0 1rem;
  }
  .wrapper .project-main .showing05 .content .images figure.component {
    padding: 0;
  }
  .wrapper .project-main .showing05 .content .images figure.component video {
    width: 100%;
  }
  .wrapper .project-main .showing05 .content .images figure.component img {
    width: 100%;
  }
  .wrapper .project-main .showing05 .content .images .desc {
    padding: 0 1rem;
    font-size: 0.75rem;
  }
  .wrapper .project-main .showing05 .content .images .desc.component {
    padding: 0;
  }
  .wrapper .project-main .showing05 .content .images.cookshare figure {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .wrapper .project-main .showing05 .content .images.cookshare figure img {
    width: 80vw;
  }
  .wrapper .project-main .showing05 .content .images.cookshare figure.flex-box {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }
  .wrapper .project-main .showing05 .content .images.cookshare figure.flex-box img {
    width: 45vw;
  }
  .wrapper .project-main .showing05 .content .images.cookshare .desc {
    padding: 0;
  }
  .wrapper .project-main .showing06 article {
    padding: 3em 0 5em;
  }
  .wrapper .project-main .showing06 article .title h3 {
    font-size: 6vw;
    font-weight: 600;
    word-break: keep-all;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing06 .content .intention {
    width: 100% !important;
  }
  .wrapper .project-main .showing06 .content .intention .desc {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing06 .content .text-box {
    padding: 0 1rem;
  }
  .wrapper .project-main .showing06 .content .text-box ul {
    flex-direction: column;
  }
  .wrapper .project-main .showing06 .content .text-box ul li .cont {
    max-width: 100%;
    height: auto;
  }
  .wrapper .footer-credit article {
    justify-content: space-between;
  }
  .wrapper .footer-credit article .credit {
    font-size: 0.75rem;
  }
  .wrapper .footer-credit article .credit .name {
    font-size: 1rem;
  }
  .wrapper footer {
    margin-top: 5rem !important;
  }
}
:root {
  --font-text: "Open Sans","Noto Sans KR", sans-serif; /*"Lato", sans-serif;*/
  --font-title: "Montserrat", sans-serif;
  --font-sub: "Playfair Display", serif;
  --font-logo: "Lora", serif; /*"Raleway", sans-serif;*/
}

/* 페이지 전환 */
.slide-out {
  transform: translateX(-100%);
}

.top-button {
  opacity: 0;
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 20px;
  font-size: 1.2rem;
  font-family: var(--font-text);
  font-weight: 600;
  color: #222;
  border: none;
  border-radius: 50%;
  background-color: #F9F5EF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  cursor: none;
  z-index: 100;
}
.top-button:hover {
  background-color: #222;
  color: #fff;
  transform: scale(1.1);
}

.noise {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/noise.webp");
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.05;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  visibility: visible;
}

.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  mix-blend-mode: difference;
  background-color: forestgreen;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.cursor.active {
  font-size: 0.2rem;
  transform: translate(-50%, -50%);
  mix-blend-mode: normal;
  background-color: #fff;
  color: #222222;
  padding: 0.8rem;
}

/* scroll 애니메이션 */
.title-name,
.title-name span,
.contents {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.title-name img,
.title-name span img,
.contents img {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.title-name.loaded,
.title-name span.loaded,
.contents.loaded {
  opacity: 1;
  transform: translateY(0);
}
.title-name.loaded img,
.title-name span.loaded img,
.contents.loaded img {
  opacity: 1;
  transform: translateY(0);
}

/* hero 애니메이션 */
.cont-wrap {
  position: relative;
  overflow: hidden;
}

/* 공통 애니메이션 효과 설정 */
.cont {
  transition: transform 0.5s ease-out;
}

/* 초기 transform 설정 */
img.cont,
.sub-tit.cont {
  transform: translateY(100%);
}

.tit.cont {
  transform: translateY(-100%);
}

/* 페이지 로드 후 애니메이션 효과 */
.cont.page-loaded {
  transform: translateY(0);
}

/* 인트로 스플래쉬 */
.intro-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F9F5EF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  transition: transform 1s ease;
  overflow: hidden;
}
.intro-splash .intro-message,
.intro-splash .intro-emoji {
  font-family: var(--font-text);
  font-size: 2rem;
  text-align: center;
  color: #222;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}
.intro-splash .intro-emoji {
  font-size: 3rem;
  animation-delay: 1s;
}
.intro-splash .intro-bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  font-size: 1.2rem;
  font-family: var(--font-sub);
  font-weight: 600;
  color: #222;
}
.intro-splash .intro-noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/noise.webp");
  opacity: 0.05;
  pointer-events: none;
}
.intro-splash.show {
  transform: translateY(0);
}
.intro-splash.hide {
  transform: translateY(-100%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #F9F5EF;
  color: #222;
  font-family: "Noto Sans KR", "sans-serif";
  cursor: none;
}

a {
  text-decoration: none;
  color: #222;
  cursor: none;
}

ul, ol, li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  position: fixed;
  top: 0;
  max-width: 1920px;
  width: 100%;
  height: 60px;
  z-index: 10;
  transition: all 0.5s ease;
  background-color: #F9F5EF;
}
.wrapper header h1 {
  font-family: var(--font-logo);
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.wrapper header nav ul {
  display: flex;
}
.wrapper header nav ul li {
  margin-left: 1rem;
}
.wrapper header nav ul li:hover a {
  color: #f9f5ef;
  background-color: #282828;
  border-radius: 5px;
}
.wrapper header nav ul li a {
  display: inline-block;
  padding: 2px 5px;
  font-family: var(--font-text);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.wrapper main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.wrapper main .parallax-text {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 18vw;
  font-family: var(--font-title);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.05);
  z-index: -1;
  pointer-events: none;
}
.wrapper main .hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  color: #222;
  transition: opacity 0.5s ease-out;
}
.wrapper main .hero .hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.5rem;
  width: 100%;
  height: 100%;
}
.wrapper main .hero .hero-wrap .hero-img {
  width: 30vw;
}
.wrapper main .hero .hero-wrap .hero-img img {
  width: 100%;
}
.wrapper main .hero .hero-wrap .hero-img img.loaded {
  opacity: 1;
  transform: translateY(0);
}
.wrapper main .hero .hero-wrap .hero-tit {
  line-height: 0.9;
}
.wrapper main .hero .hero-wrap .hero-tit .tit {
  font-family: var(--font-title);
  font-size: 12vw;
  font-weight: 800;
  text-transform: uppercase;
}
.wrapper main .hero .hero-wrap .hero-tit .sub-tit {
  display: block;
  font-family: var(--font-sub);
  font-style: italic;
  font-weight: 400;
  font-size: 4vw;
  text-align: right;
  line-height: 1.2;
}
.wrapper main .hero.fade-out {
  opacity: 0;
  pointer-events: none;
}
.wrapper main .about {
  padding: 0 3rem;
  margin-top: 20em;
  height: auto;
}
.wrapper main .about h4 {
  font-family: var(--font-title);
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  line-height: 1;
  color: #222;
  padding-top: 1rem;
}
.wrapper main .about h4 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.wrapper main .about h4 span.loaded {
  opacity: 1;
  transform: translateY(0);
}
.wrapper main .about .about-wrap .profile {
  display: flex;
  gap: 30px;
}
.wrapper main .about .about-wrap .profile .profile-img {
  width: 50%;
}
.wrapper main .about .about-wrap .profile .profile-img div {
  min-width: 400px;
}
.wrapper main .about .about-wrap .profile .profile-img div img {
  width: 100%;
}
.wrapper main .about .about-wrap .profile .profile-text p {
  padding-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack h5 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 16px;
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li {
  display: inline-block;
  padding: 4px 10px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 8px;
  color: #F9F5EF;
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(1) {
  background-color: rgba(227, 79, 38, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(2) {
  background-color: rgba(21, 114, 182, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(3) {
  background-color: rgba(204, 102, 153, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(4) {
  background-color: rgba(0, 164, 239, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(5) {
  background-color: rgba(97, 218, 251, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(6) {
  background-color: rgba(51, 153, 51, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(7) {
  background-color: rgba(68, 121, 161, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(8) {
  background-color: rgba(109, 179, 63, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(9) {
  background-color: rgba(247, 223, 30, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(10) {
  background-color: rgba(7, 105, 173, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(11) {
  background-color: rgba(240, 80, 50, 0.6);
}
.wrapper main .projectAll {
  margin-top: 20em;
  padding: 0 3rem;
  height: auto;
}
.wrapper main .projectAll h4 {
  font-family: var(--font-title);
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  line-height: 1;
  color: #222;
}
.wrapper main .projectAll h4 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.wrapper main .projectAll h4 span.loaded {
  opacity: 1;
  transform: translateY(0);
}
.wrapper main .projectAll .project-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper main .projectAll .project-wrap .project-view {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 2rem;
  width: 100%;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 h5 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #222;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li a .check {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #222;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li a .check:after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  content: "";
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #222;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li:hover .check:after, .wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li.active .check:after {
  transform: translate(-50%, -50%) scale(2);
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 {
  margin-top: 2em;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 h5 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #222;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li a .check {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #222;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li a .check:after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  content: "";
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #222;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li:hover .check:after, .wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li.active .check:after {
  transform: translate(-50%, -50%) scale(2);
}
.wrapper main .projectAll .project-wrap .project-view .project-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .thumbnail {
  width: 100%;
  min-height: 400px;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
  padding-top: 50%;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .thumbnail figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease-in-out;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .thumbnail figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .thumbnail figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  transition: opacity 0.5s ease-in-out;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .desc strong {
  display: block;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity 0.5s ease-in-out;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .desc span {
  font-size: 1.375rem;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(1) {
  flex-basis: 30vw;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(2) {
  flex-basis: 60%;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(3) {
  flex-basis: 40vw;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(4) {
  flex-basis: 30vw;
  margin-left: 2em;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(5) {
  flex-basis: 40vw;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(6) {
  flex-basis: 40vw;
  margin-left: auto;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(7) {
  flex-basis: 40vw;
  margin-left: auto;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(8) {
  flex-basis: 40vw;
  margin-left: 2em;
}
.wrapper main .project {
  position: relative;
  padding: 0 3rem;
  height: auto;
  margin-top: 10em;
  transition: all 0.5s ease;
}
.wrapper main .project .project-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper main .project .project-wrap .project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  gap: 6rem;
  row-gap: 15rem;
  padding-top: 10em;
  width: 100%;
}
.wrapper main .project .project-wrap .project-list .project-item {
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}
.wrapper main .project .project-wrap .project-list .project-item h4 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1;
  color: #222;
}
.wrapper main .project .project-wrap .project-list .project-item a {
  display: inline-block;
  width: 100%;
  transition: transform 1s ease-out;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: transform 0.5s ease-out;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail .hover-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  border-radius: 10px;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail .hover-info p {
  color: #222;
  padding: 10px;
  font-family: var(--font-text);
  font-size: 1.125rem;
  font-weight: 600;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail .hover-info .tech-badge {
  display: inline-block;
  padding: 4px 8px;
  margin: 4px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail:hover .hover-info {
  opacity: 1;
}
.wrapper main .project .project-wrap .project-list .project-item a .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.wrapper main .project .project-wrap .project-list .project-item a .desc strong {
  display: block;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapper main .project .project-wrap .project-list .project-item a .desc span {
  font-size: 1.375rem;
}
.wrapper main .project .project-wrap .project-list .project-item a:hover .thumbnail {
  transform: scale(0.95);
}
.wrapper main .project .project-wrap .project-list .project-item a:hover .thumbnail figure img {
  transform: scale(1.2);
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(1) {
  flex-basis: 30vw;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(2) {
  flex-basis: 50vw;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(3) {
  flex-basis: 40vw;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(4) {
  flex-basis: 30vw;
  margin-left: 2em;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(5) {
  flex-basis: 40vw;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(6) {
  flex-basis: 40vw;
  margin-left: auto;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(7) {
  flex-basis: 40vw;
  margin-left: auto;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(8) {
  flex-basis: 40vw;
  margin-left: 2em;
}
.wrapper main .contact {
  padding: 0 4rem;
  margin-top: 10em;
}
.wrapper main .contact .contact-wrap {
  padding-top: 5em;
  border-top: 1px solid #222;
}
.wrapper main .contact .contact-wrap .sub-title h5 {
  font-family: var(--font-sub);
  font-size: 2em;
  text-transform: uppercase;
}
.wrapper main .contact .contact-wrap .title {
  padding-top: 5em;
}
.wrapper main .contact .contact-wrap .title h3 {
  font-family: var(--font-title);
  font-size: 14vw;
  font-weight: 800;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 0.5em;
  line-height: 1;
  color: #222;
}
.wrapper main .contact .contact-wrap .title h3 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.wrapper main .contact .contact-wrap .title h3 span.loaded {
  opacity: 1;
  transform: translateY(0);
}
.wrapper main .contact .contact-wrap .contact-info {
  display: flex;
  gap: 1em;
  padding-bottom: 2em;
}
.wrapper main .contact .contact-wrap .contact-info p {
  position: relative;
  overflow: hidden;
}
.wrapper main .contact .contact-wrap .contact-info p a {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #222;
  border-radius: 30px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.wrapper main .contact .contact-wrap .contact-info p a i {
  font-size: 0;
}
.wrapper main .contact .contact-wrap .contact-info p a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  background: #222;
  z-index: -1;
  transition: height 0.3s ease-out;
}
.wrapper main .contact .contact-wrap .contact-info p a.fill-up:hover::before {
  height: 100%;
}
.wrapper main .contact .contact-wrap .contact-info p a:hover {
  color: #f9f5ef;
}
.wrapper footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0;
  margin-top: 10rem;
  text-align: center;
  font-size: 0.9rem;
}
.wrapper footer .footer-content {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .intro-splash .intro-message,
  .intro-splash .intro-emoji {
    font-size: 2rem;
  }
  .intro-splash .intro-emoji {
    font-size: 3rem;
  }
  .wrapper main .hero .hero-wrap {
    justify-content: center;
  }
  .wrapper main .hero .hero-wrap .hero-img {
    width: 40vw;
  }
  .wrapper main .hero .hero-wrap .hero-img img {
    width: 100%;
  }
  .wrapper main .about {
    padding: 0 2rem;
  }
  .wrapper main .about h4 {
    font-size: 4rem;
  }
  .wrapper main .about .about-wrap .profile {
    flex-direction: column;
  }
  .wrapper main .projectAll {
    padding: 0 2rem;
  }
  .wrapper main .projectAll h4 {
    font-size: 4rem;
  }
  .wrapper main .projectAll .project-wrap .project-view {
    flex-direction: column;
    align-items: normal;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(1) {
    padding-bottom: 5em;
  }
  .wrapper main .project {
    padding: 0 2rem;
  }
  .wrapper main .project .project-wrap .project-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 4%;
    row-gap: 10rem;
    padding-top: 0;
    width: 100%;
  }
  .wrapper main .project .project-wrap .project-list .project-item {
    flex-basis: 48% !important;
    height: 100%;
  }
  .wrapper main .project .project-wrap .project-list .project-item a {
    height: auto;
  }
  .wrapper main .project .project-wrap .project-list .project-item:nth-of-type(4) {
    margin-left: 0;
  }
  .wrapper main .project .project-wrap .project-list .project-item:nth-of-type(6) {
    margin-left: 0;
  }
  .wrapper main .contact {
    padding: 0 2rem;
  }
  .wrapper main .contact .contact-wrap .sub-title h5 {
    font-size: 1.5em;
  }
  .wrapper main .contact .contact-wrap .contact-info p a i {
    font-size: 0;
  }
}
@media screen and (max-width: 750px) {
  .intro-splash .intro-message,
  .intro-splash .intro-emoji {
    font-size: 1.25rem;
  }
  .intro-splash .intro-emoji {
    font-size: 3rem;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper header h1 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .wrapper header nav ul li {
    margin-left: 0;
  }
  .wrapper header nav ul li a {
    padding: 2px 10px;
    font-size: 1rem;
  }
  .wrapper main .hero .hero-wrap {
    justify-content: center;
  }
  .wrapper main .hero .hero-wrap .hero-img {
    width: 70vw;
  }
  .wrapper main .hero .hero-wrap .hero-img img {
    width: 100%;
  }
  .wrapper main .about {
    padding: 0 1rem;
  }
  .wrapper main .about h4 {
    font-size: 2.5rem;
  }
  .wrapper main .about .about-wrap .profile {
    flex-direction: column;
  }
  .wrapper main .about .about-wrap .profile .profile-img {
    width: 100%;
  }
  .wrapper main .about .about-wrap .profile .profile-img div {
    min-width: 200px;
  }
  .wrapper main .about .about-wrap .profile .profile-img div img {
    width: 100%;
  }
  .wrapper main .about .about-wrap .profile .profile-text p {
    font-size: 1.125rem;
  }
  .wrapper main .about .about-wrap .profile .profile-text .profile-stack h5 {
    font-size: 1.25rem;
  }
  .wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li {
    padding: 4px 8px;
    font-size: 1rem;
  }
  .wrapper main .projectAll {
    padding: 0 1rem;
  }
  .wrapper main .projectAll h4 {
    font-size: 2.5rem;
  }
  .wrapper main .projectAll .project-wrap .project-view {
    flex-direction: column;
    align-items: normal;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li {
    font-size: 1.125rem;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li {
    font-size: 1.125rem;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item a .desc strong {
    font-size: 1.125rem;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item a .desc span {
    font-size: 1.125rem;
  }
  .wrapper main .project {
    padding: 0 1rem;
  }
  .wrapper main .project .project-wrap .project-list {
    padding-top: 0;
    row-gap: 5rem;
  }
  .wrapper main .project .project-wrap .project-list .project-item {
    margin-left: 0;
  }
  .wrapper main .project .project-wrap .project-list .project-item a .desc {
    letter-spacing: -1px;
  }
  .wrapper main .project .project-wrap .project-list .project-item a .desc strong {
    font-size: 1rem;
  }
  .wrapper main .project .project-wrap .project-list .project-item a .desc span {
    font-size: 1rem;
  }
  .wrapper main .project .project-wrap .project-list .project-item:nth-of-type(n) {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 5em;
  }
  .wrapper main .project .project-wrap .project-list .project-item:nth-of-type(2) {
    margin-top: 2em;
    height: auto;
  }
  .wrapper main .contact {
    padding: 0 1rem;
    margin-top: 10em;
  }
  .wrapper main .contact .contact-wrap {
    padding-top: 3em;
  }
  .wrapper main .contact .contact-wrap .sub-title h5 {
    font-size: 0.8em;
    text-align: center;
  }
  .wrapper main .contact .contact-wrap .title {
    padding-top: 3em;
  }
  .wrapper main .contact .contact-wrap .title h3 {
    text-align: center;
  }
  .wrapper main .contact .contact-wrap .contact-info {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-bottom: 2em;
  }
  .wrapper main .contact .contact-wrap .contact-info p {
    position: relative;
    overflow: hidden;
  }
  .wrapper main .contact .contact-wrap .contact-info p a {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0.5em 1em;
    font-size: 0;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #222;
    border-radius: 30px;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .wrapper main .contact .contact-wrap .contact-info p a i {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .wrapper main .contact .contact-wrap .contact-info p a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    background: #222;
    z-index: -1;
    transition: height 0.3s ease-out;
  }
  .wrapper main .contact .contact-wrap .contact-info p a.fill-up:hover::before {
    height: 100%;
  }
  .wrapper main .contact .contact-wrap .contact-info p a:hover {
    color: #f9f5ef;
  }
  .wrapper footer {
    margin-top: 2em !important;
  }
}

/*# sourceMappingURL=style.css.map */
