@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
html, body,
h1, h2, h3, h4, h5, h6,
input, select, textarea, button, option {
  font-family: "SpoqaHanSansNeo", "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

html, body {
  font-weight: normal;
  color: #555;
}

body {
  position: relative;
  font-size: 16px;
}

body, div, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, fieldset, legend, button, p, pre, blockquote, menu, figure, input {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, select, input, textarea, p, blockquote, th, td, menu, button, a, span, strong, label, header, footer, section, article, aside, nav, hgroup, details, figure, figcaption {
  word-break: break-word;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*h1, h2, h3, h4, h5, h6, input, select, textarea, button, option {fonts.scss-size:14px;fonts.scss-weight:normal;color:inherit;}*/
pre, code, samp, kbd {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6, strong, b, th {
  font-weight: bold;
}

em, var, address {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

legend, fieldset, button, img {
  border: 0 none;
}

input, select, textarea, button, label, strong, a, time {
  vertical-align: inherit;
}

input, select, textarea, button, option {
  font-family: inherit;
  font-weight: inherit;
}

/* input, select, textarea {appearance:none;-webkit-appearance:none;} */
input[type=text]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

button, select, option {
  color: inherit;
  text-transform: none;
}

textarea {
  resize: none;
}

caption, legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  overflow: visible;
  text-align: left;
  cursor: pointer;
  background: none;
}

.project-main {
  padding-top: 60px;
}
.project-main .intro {
  height: 550px;
}
.project-main .intro article {
  position: relative;
  height: 100%;
}
.project-main .intro article .title {
  position: absolute;
  left: 0;
  bottom: 2rem;
  padding: 0 1.2rem;
}
.project-main .intro article .title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 6vw;
  font-weight: 800;
  text-transform: uppercase;
}
.project-main .intro.cubank article {
  background: url("../images/mockup_cu7.png") no-repeat center;
  background-size: cover;
}
.project-main .intro.sb article {
  background: url("../images/mockup_sb2.png") no-repeat center;
  background-size: cover;
  color: #fff;
}
.project-main .intro.piino article {
  background: url("../images/mockup_pn2.png") no-repeat center;
  background-size: cover;
}
.project-main .intro.cookshare article {
  background: url("../images/mockup_cs1.png") no-repeat center;
  background-size: cover;
}
.project-main .intro.farm article {
  background: url("../images/mockup_wf1.png") no-repeat center;
  background-size: cover;
}
.project-main .intro.keybank article {
  background: url("../images/mockup_kb3.png") no-repeat center;
  background-size: cover;
}
.project-main .overview {
  padding: 1em 4rem 5em 4rem;
}
.project-main .overview article {
  position: relative;
  width: 100%;
  padding-bottom: 5em;
}
.project-main .overview article .credit {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  padding-bottom: 5em;
  font-size: 0.875rem;
}
.project-main .overview article .title {
  line-height: 1;
}
.project-main .overview article .title h3 {
  line-height: 1.2;
  font-size: 4vw;
  font-weight: 600;
}
.project-main .overview article .content {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding-top: 3em;
}
.project-main .overview article .content .intention {
  width: 45%;
}
.project-main .overview article .content .link a figure {
  position: relative;
  padding-bottom: 52%;
  width: 350px;
  border: 8px solid #222;
  border-radius: 4px;
}
.project-main .overview article .content .link a figure img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .overview article .content .link a .piino {
  display: flex;
  flex-direction: column;
}
.project-main .overview article .content .link a p {
  display: inline-flex;
  margin-top: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  overflow: hidden;
  color: #222;
}
.project-main .overview article .content .link a p .arrows {
  position: relative;
  display: inline-block;
  width: 0.8rem;
  height: 1.2rem;
}
.project-main .overview article .content .link a p .arrows .arrow {
  display: inline-block;
  position: absolute;
  font-size: 0.8rem;
  transition: all 0.4s ease;
}
.project-main .overview article .content .link a:hover .arrows .arrow {
  animation: moveUp 1s linear infinite 0.5s;
}
@keyframes moveUp {
  0%, 40% {
    top: 0;
    left: 0;
  }
  50% {
    top: -20px;
    left: 20px;
  }
  50.1% {
    top: 20px;
    left: -20px;
  }
  60%, 100% {
    top: 0;
    left: 0;
  }
}
.project-main .overview article .content .intention .desc {
  font-size: 1.5rem;
}
.project-main .showing article .title {
  margin-top: 1rem;
  line-height: 1;
}
.project-main .showing article .title h3 {
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.3;
  padding: 0 4rem;
}
.project-main .showing article .content .desc {
  display: block;
  margin-top: 0.5rem;
  padding: 0 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.project-main .showing article .content figure {
  width: 100%;
}
.project-main .showing article .content figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .showing article .content .images ul,
.project-main .showing article .content .images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
}
.project-main .showing article .content .images ul li,
.project-main .showing article .content .images ul .imges-item,
.project-main .showing article .content .images-list li,
.project-main .showing article .content .images-list .imges-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project-main .showing article .content .images ul li .image-box,
.project-main .showing article .content .images ul .imges-item .image-box,
.project-main .showing article .content .images-list li .image-box,
.project-main .showing article .content .images-list .imges-item .image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 375/667;
  border-radius: 45px;
  border: 10px solid #222;
  overflow: hidden;
}
.project-main .showing article .content .images ul li .image-box .image,
.project-main .showing article .content .images ul li .image-box figure,
.project-main .showing article .content .images ul .imges-item .image-box .image,
.project-main .showing article .content .images ul .imges-item .image-box figure,
.project-main .showing article .content .images-list li .image-box .image,
.project-main .showing article .content .images-list li .image-box figure,
.project-main .showing article .content .images-list .imges-item .image-box .image,
.project-main .showing article .content .images-list .imges-item .image-box figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-main .showing article .content .images ul li .image-box .image img,
.project-main .showing article .content .images ul li .image-box figure img,
.project-main .showing article .content .images ul .imges-item .image-box .image img,
.project-main .showing article .content .images ul .imges-item .image-box figure img,
.project-main .showing article .content .images-list li .image-box .image img,
.project-main .showing article .content .images-list li .image-box figure img,
.project-main .showing article .content .images-list .imges-item .image-box .image img,
.project-main .showing article .content .images-list .imges-item .image-box figure img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
.project-main .showing01 article .content figure {
  width: 100%;
}
.project-main .showing01 article .content figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .showing01 article .content .desc {
  display: block;
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.project-main .showing02 {
  padding: 3em 0;
}
.project-main .showing02 article {
  padding: 0 4rem;
}
.project-main .showing02 article .content {
  display: flex;
  justify-content: flex-start;
  gap: 8rem;
}
.project-main .showing02 article .content .intention {
  width: 50vw;
}
.project-main .showing02 article .content .intention .desc {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: sticky;
  top: 0;
  padding: 2em 0;
  font-size: 1.5rem;
}
.project-main .showing02 article .content .intention .desc .tit {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 1.625rem;
}
.project-main .showing02 article .content .images {
  width: 30vw;
}
.project-main .showing02 article .content .images ul {
  display: flex;
  flex-direction: column;
}
.project-main .showing02 article .content .images ul li {
  width: 100%;
  padding: 1rem 0;
}
.project-main .showing02 article .content .images ul li .image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 375/667;
  border-radius: 45px;
  border: 8px solid #222;
  overflow: hidden;
}
.project-main .showing02 article .content .images ul li .image-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-main .showing02 article .content .images ul li .image-box .image img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
.project-main .showing02 article .content .images ul li .desc {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.project-main .showing03 article {
  padding: 3em 4rem 10em;
}
.project-main .showing03 article .content .images ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 10em;
}
.project-main .showing03 article .content .images ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project-main .showing03 article .content .images ul li .image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 375/667;
  border-radius: 45px;
  border: 8px solid #222;
  overflow: hidden;
}
.project-main .showing03 article .content .images ul li .image-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-main .showing03 article .content .images ul li .image-box .image img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
.project-main .showing03 article .content .images ul li .desc {
  margin-top: 2rem;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.project-main .showing03 article .content .images ul li .desc .tit {
  font-weight: bold;
  font-size: 1.25rem;
}
.project-main .showing04 {
  padding-top: 3em;
}
.project-main .showing04 article {
  position: relative;
  width: 100%;
  padding: 3em 4rem 10em;
  border-top: 1px solid #222;
}
.project-main .showing04 article .title {
  margin-top: 1rem;
  line-height: 1;
}
.project-main .showing04 article .title h3 {
  font-size: 4vw;
  line-height: 1.3;
  padding: 0;
}
.project-main .showing04 article .content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.project-main .showing04 article .content .intention {
  display: initial;
  width: 60vw;
}
.project-main .showing04 article .content .intention .desc {
  font-size: 1.5rem;
  padding: 1rem 0 0;
  margin: 0;
}
.project-main .showing04 article .content .images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.project-main .showing04 article .content .images-list .image-item {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 10em;
  max-width: 100%;
}
.project-main .showing04 article .content .images-list .image-item .image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 1280/700;
  border-radius: 45px;
  border: 10px solid #222;
  overflow: hidden;
}
.project-main .showing04 article .content .images-list .image-item .image-box figure {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.project-main .showing04 article .content .images-list .image-item .image-box figure img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: auto;
}
.project-main .showing04 article .content .images-list .image-item .desc {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(1) {
  flex-basis: 40vw;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(2) {
  flex-basis: 40vw;
  margin-left: 2em;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(3) {
  flex-basis: 40vw;
}
.project-main .showing04 article .content .images-list .image-item:nth-of-type(4) {
  flex-basis: 40vw;
  margin-left: auto;
}
.project-main .showing04 article .content .images {
  width: 100%;
  margin-top: 5em;
}
.project-main .showing04 article .content .images ul {
  align-items: center;
}
.project-main .showing04 article .content .images ul li {
  width: 75vw;
}
.project-main .showing04 article .content .images ul li .image-box {
  aspect-ratio: 1280/700;
  border: 7px solid #222;
}
.project-main .showing04 article .content .images ul li .desc {
  font-weight: bold;
}
.project-main .showing04 article .content .images ul li:nth-of-type(1) {
  margin-right: auto;
}
.project-main .showing04 article .content .images ul li:nth-of-type(2) {
  margin-left: auto;
}
.project-main .showing04 article .content .images ul li:nth-of-type(4) {
  margin-left: auto;
}
.project-main .showing05 article {
  position: relative;
  width: 100%;
  padding: 3em 0 10em;
  border-top: 1px solid #222;
}
.project-main .showing05 article .content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.project-main .showing05 article .content .intention .desc {
  padding: 0 4rem;
}
.project-main .showing05 article .content .images {
  margin-top: 5em;
}
.project-main .showing05 article .content .images figure {
  width: 100%;
}
.project-main .showing05 article .content .images figure video {
  width: 80%;
}
.project-main .showing05 article .content .images figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-main .showing05 article .content .images figure.component {
  padding: 0 4rem;
}
.project-main .showing05 article .content .images figure.component img {
  width: 50vw;
}
.project-main .showing05 article .content .images .desc {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.project-main .showing05 article .content .images .desc.component {
  padding: 0 4rem;
}
.project-main .showing05 article .content .images.cookshare figure {
  padding: 0 4rem;
}
.project-main .showing05 article .content .images.cookshare figure img {
  width: 50vw;
}
.project-main .showing05 article .content .images.cookshare figure.flex-box {
  display: flex;
  gap: 1em;
}
.project-main .showing05 article .content .images.cookshare figure.flex-box img {
  width: 20vw;
}
.project-main .showing05 article .content .images.cookshare .desc {
  padding: 0 4rem;
}
.project-main .showing06 article {
  position: relative;
  width: 100%;
  padding: 3em 0 10em;
  border-top: 1px solid #222;
}
.project-main .showing06 article .content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.project-main .showing06 article .content .intention .desc {
  padding: 0 4rem;
}
.project-main .showing06 article .text-box {
  margin-top: 5em;
  padding: 0 4rem;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
}
.project-main .showing06 article .text-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.project-main .showing06 article .text-box ul li .cont {
  max-width: 300px;
  height: 350px;
  padding: 1em;
  background-color: #fff;
  border: 2px solid #222;
  border-radius: 20px;
}
.project-main .showing06 article .text-box ul li .cont .tit {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
}
.project-main .showing06 article .text-box ul li .cont ul {
  display: flex;
  flex-direction: column;
}
.project-main .showing06 article .text-box ul li .cont ul li {
  position: relative;
  margin-left: 0.5em;
  font-size: 1rem;
}
.project-main .showing06 article .text-box ul li .cont ul li::before {
  position: absolute;
  top: 1rem;
  left: -1rem;
  transform: translateY(-50%);
  display: inline-block;
  margin-right: 0.5em;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #222;
  border-radius: 50%;
  content: "";
}
.project-main .showing06 article .text-box .desc {
  font-size: 0.875rem;
  margin-top: 1rem;
  line-height: 1.5;
}
.project-main .footer-credit {
  padding: 1em 1.2rem;
}
.project-main .footer-credit article {
  display: flex;
  border-top: 1px solid #222;
  padding-top: 2em;
}
.project-main .footer-credit article .credit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35vw;
  padding-bottom: 5em;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.project-main .footer-credit article .credit .name {
  font-size: 1.25rem;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .wrapper .project-main .overview {
    padding: 1em 2rem 5em 2rem;
  }
  .wrapper .project-main .overview article .credit {
    width: 50vw;
    font-size: 0.875rem;
  }
  .wrapper .project-main .overview article .title h3 {
    font-size: 5vw;
  }
  .wrapper .project-main .overview article .content {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .wrapper .project-main .overview article .content .intention {
    width: 50vw;
  }
  .wrapper .project-main .overview article .content .intention .desc {
    font-size: 1.25rem;
  }
  .wrapper .project-main .overview article .content .link a figure {
    width: 250px;
    border: 6px solid #222;
  }
  .wrapper .project-main .overview article .content .link a p {
    font-size: 0.875rem;
  }
  .wrapper .project-main .showing article .title h3 {
    font-size: 5vw;
    padding: 0 2rem;
  }
  .wrapper .project-main .showing article .content .desc {
    font-size: 1.25rem;
    padding: 0 2rem;
  }
  .wrapper .project-main .showing01 article .content .desc {
    font-size: 0.875rem;
  }
  .wrapper .project-main .showing02 article {
    padding: 0 2rem;
  }
  .wrapper .project-main .showing02 article .content .intention .desc {
    font-size: 1.25rem;
    padding: 0;
  }
  .wrapper .project-main .showing02 article .content .intention .desc .tit {
    font-size: 1.375rem;
  }
  .wrapper .project-main .showing02 article .content .images ul li .desc {
    font-size: 1.125rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing02 article .content .images ul li .image-box {
    border: 5px solid #222;
    border-radius: 35px;
  }
  .wrapper .project-main .showing03 article {
    padding: 0 2rem 5em;
  }
  .wrapper .project-main .showing03 article .content .images ul {
    gap: 2rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .desc {
    padding: 0 1rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .desc .tit {
    font-size: 1.125rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .image-box {
    border: 6px solid #222;
    border-radius: 35px;
  }
  .wrapper .project-main .showing04 article {
    padding: 3em 2rem 10em;
  }
  .wrapper .project-main .showing04 article .title h3 {
    padding: 0;
  }
  .wrapper .project-main .showing04 article .content .intention .desc {
    padding: 0;
  }
  .wrapper .project-main .showing04 article .content .images ul li .desc {
    padding: 0 1rem;
  }
  .wrapper .project-main .showing04 article .content .images ul li .image-box {
    aspect-ratio: 1280/900;
    border: 5px solid #222;
    border-radius: 25px;
  }
  .wrapper .project-main .showing05 article .title h3 {
    padding: 0 2rem;
  }
  .wrapper .project-main .showing05 article .content .images {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .wrapper .project-main .showing05 article .content .images .desc {
    font-size: 0.75rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare {
    align-items: center;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare figure {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare figure img {
    width: 70vw;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare figure.flex-box {
    display: flex;
    gap: 1em;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare figure.flex-box img {
    width: 35vw;
  }
  .wrapper .project-main .showing05 article .content .images.cookshare .desc {
    padding: 0;
  }
  .wrapper .project-main .showing05 article .content figure.component {
    padding: 0;
  }
  .wrapper .project-main .showing05 article .content figure.component video {
    width: 100%;
  }
  .wrapper .project-main .showing05 article .content figure.component img {
    width: 70vw;
  }
  .wrapper .project-main .showing06 article .title h3 {
    padding: 0 2rem;
  }
  .wrapper .project-main .showing06 article .content .text-box {
    padding: 0 2rem;
  }
  .wrapper .project-main .showing06 article .content .text-box .desc {
    padding: 0 1rem;
    font-size: 0.75rem;
  }
  .wrapper .project-main .footer-credit article .credit {
    font-size: 0.75rem;
  }
  .wrapper .project-main .footer-credit article .credit .name {
    font-size: 1rem;
  }
  .wrapper footer {
    margin-top: 5rem !important;
  }
}
@media screen and (max-width: 750px) {
  .wrapper header h1 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .wrapper header h1 a:after {
    content: "eun";
  }
  .wrapper header nav ul li {
    margin-left: 0;
  }
  .wrapper header nav ul li a {
    padding: 2px 10px;
    font-size: 1rem;
  }
  .wrapper .project-main .intro {
    height: 50vh;
  }
  .wrapper .project-main .intro article {
    height: 50vh;
  }
  .wrapper .project-main .intro article .title h2 {
    line-height: initial;
    word-break: keep-all;
    font-size: 8vw;
  }
  .wrapper .project-main .overview {
    padding: 1em 1rem 5em 1rem;
  }
  .wrapper .project-main .overview article {
    height: initial;
  }
  .wrapper .project-main .overview article .credit {
    width: 100%;
    padding-bottom: 2em;
    font-size: 0.75rem;
  }
  .wrapper .project-main .overview article .title h3 {
    font-size: 6vw;
    font-weight: 500;
  }
  .wrapper .project-main .overview article .content {
    flex-direction: column;
    align-items: normal;
    padding-top: 2em;
  }
  .wrapper .project-main .overview article .content .intention {
    width: 100%;
  }
  .wrapper .project-main .overview article .content .intention .desc {
    font-size: 1rem;
  }
  .wrapper .project-main .overview article .content .link a figure {
    position: initial;
    padding-bottom: 0;
    width: 250px;
    border: 4px solid #222;
  }
  .wrapper .project-main .overview article .content .link a figure img {
    position: initial;
  }
  .wrapper .project-main .overview article .content .link a p {
    font-size: 0.75rem;
  }
  .wrapper .project-main .overview article .content .link a p .arrow {
    font-size: 0.75rem;
  }
  .wrapper .project-main .showing01 article .content .desc {
    padding: 0 1rem;
    font-size: 0.75rem;
  }
  .wrapper .project-main .showing02 article {
    padding: 0 1rem;
  }
  .wrapper .project-main .showing02 article .content {
    display: initial;
  }
  .wrapper .project-main .showing02 article .content .intention {
    width: 100%;
  }
  .wrapper .project-main .showing02 article .content .intention .desc {
    font-size: 1rem;
  }
  .wrapper .project-main .showing02 article .content .intention .desc .tit {
    font-size: 1.125rem;
  }
  .wrapper .project-main .showing02 article .content .images {
    width: 100%;
  }
  .wrapper .project-main .showing02 article .content .images ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .project-main .showing02 article .content .images ul li {
    width: 80%;
  }
  .wrapper .project-main .showing02 article .content .images ul li .desc {
    font-size: 0.875rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing02 article .content .images ul li .image-box {
    border: 6px solid #222;
    border-radius: 35px;
  }
  .wrapper .project-main .showing03 article {
    padding: 0 1rem 5em;
  }
  .wrapper .project-main .showing03 article .content .images ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li {
    width: 80%;
  }
  .wrapper .project-main .showing03 article .content .images ul li .desc {
    font-size: 0.75rem;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .desc .tit {
    font-size: 0.875rem;
  }
  .wrapper .project-main .showing03 article .content .images ul li .image-box {
    border: 6px solid #222;
    border-radius: 35px;
  }
  .wrapper .project-main .showing04 article {
    padding: 3em 1rem 5em;
  }
  .wrapper .project-main .showing04 article .title h3 {
    font-size: 6vw;
    font-weight: 600;
    word-break: keep-all;
    padding: 0;
  }
  .wrapper .project-main .showing04 article .content .intention {
    width: 100%;
  }
  .wrapper .project-main .showing04 article .content .intention .desc {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .wrapper .project-main .showing04 article .content .images ul {
    gap: 3rem;
  }
  .wrapper .project-main .showing04 article .content .images ul li {
    width: 100%;
  }
  .wrapper .project-main .showing04 article .content .images ul li .desc {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing04 article .content .images ul li .image-box {
    border: 5px solid #222;
    border-radius: 20px;
    aspect-ratio: 1280/900;
  }
  .wrapper .project-main .showing04 article .content .images-list {
    display: initial;
  }
  .wrapper .project-main .showing04 article .content .images-list .image-item {
    margin-top: 5em;
  }
  .wrapper .project-main .showing04 article .content .images-list .image-item .image-box {
    aspect-ratio: 1280/900;
    border: 5px solid #222;
    border-radius: 20px;
  }
  .wrapper .project-main .showing04 article .content .images-list .image-item:nth-of-type(2) {
    margin-left: 0;
  }
  .wrapper .project-main .showing05 article {
    padding: 3em 0 5em;
  }
  .wrapper .project-main .showing05 article .title h3 {
    font-size: 6vw;
    font-weight: 600;
    word-break: keep-all;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing05 .content .intention {
    width: 100% !important;
  }
  .wrapper .project-main .showing05 .content .intention .desc {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing05 .content .images {
    padding: 0 1rem;
  }
  .wrapper .project-main .showing05 .content .images figure.component {
    padding: 0;
  }
  .wrapper .project-main .showing05 .content .images figure.component video {
    width: 100%;
  }
  .wrapper .project-main .showing05 .content .images figure.component img {
    width: 100%;
  }
  .wrapper .project-main .showing05 .content .images .desc {
    padding: 0 1rem;
    font-size: 0.75rem;
  }
  .wrapper .project-main .showing05 .content .images .desc.component {
    padding: 0;
  }
  .wrapper .project-main .showing05 .content .images.cookshare figure {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .wrapper .project-main .showing05 .content .images.cookshare figure img {
    width: 80vw;
  }
  .wrapper .project-main .showing05 .content .images.cookshare figure.flex-box {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }
  .wrapper .project-main .showing05 .content .images.cookshare figure.flex-box img {
    width: 45vw;
  }
  .wrapper .project-main .showing05 .content .images.cookshare .desc {
    padding: 0;
  }
  .wrapper .project-main .showing06 article {
    padding: 3em 0 5em;
  }
  .wrapper .project-main .showing06 article .title h3 {
    font-size: 6vw;
    font-weight: 600;
    word-break: keep-all;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing06 .content .intention {
    width: 100% !important;
  }
  .wrapper .project-main .showing06 .content .intention .desc {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .wrapper .project-main .showing06 .content .text-box {
    padding: 0 1rem;
  }
  .wrapper .project-main .showing06 .content .text-box ul {
    flex-direction: column;
  }
  .wrapper .project-main .showing06 .content .text-box ul li .cont {
    max-width: 100%;
    height: auto;
  }
  .wrapper .footer-credit article {
    justify-content: space-between;
  }
  .wrapper .footer-credit article .credit {
    font-size: 0.75rem;
  }
  .wrapper .footer-credit article .credit .name {
    font-size: 1rem;
  }
  .wrapper footer {
    margin-top: 5rem !important;
  }
}
body {
  overflow-x: hidden;
  background-color: #F9F5EF;
  color: #222;
  font-family: "Montserrat", "Noto Sans KR", "sans-serif";
}

a {
  text-decoration: none;
  color: #222;
}

ul, ol, li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  position: fixed;
  top: 0;
  max-width: 1920px;
  width: 100%;
  height: 60px;
  z-index: 10;
  transition: all 0.5s ease;
  background-color: #F9F5EF;
}
.wrapper header h1 {
  font-family: "Montserrat", "Noto Sans KR", "sans-serif";
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.wrapper header h1 a:after {
  content: "eunsujeong";
}
.wrapper header nav ul {
  display: flex;
}
.wrapper header nav ul li {
  margin-left: 1rem;
}
.wrapper header nav ul li:hover a {
  color: #f9f5ef;
  background-color: #282828;
  border-radius: 5px;
}
.wrapper header nav ul li a {
  display: inline-block;
  padding: 2px 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.wrapper main {
  margin-left: auto;
  margin-right: auto;
}
.wrapper main .hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4rem;
  height: 100vh;
  color: #222;
}
.wrapper main .hero h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 9vw;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
}
.wrapper main .about {
  padding: 0 3rem;
  margin-top: 10em;
  height: auto;
}
.wrapper main .about h4 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1;
  color: #222;
}
.wrapper main .about .about-wrap .profile {
  display: flex;
  gap: 30px;
}
.wrapper main .about .about-wrap .profile .profile-img {
  width: 50%;
}
.wrapper main .about .about-wrap .profile .profile-img div {
  min-width: 400px;
}
.wrapper main .about .about-wrap .profile .profile-img div img {
  width: 100%;
}
.wrapper main .about .about-wrap .profile .profile-text p {
  padding-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack h5 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 16px;
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 8px;
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(1) {
  background-color: rgba(227, 79, 38, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(2) {
  background-color: rgba(21, 114, 182, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(3) {
  background-color: rgba(204, 102, 153, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(4) {
  background-color: rgba(0, 164, 239, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(5) {
  background-color: rgba(97, 218, 251, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(6) {
  background-color: rgba(51, 153, 51, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(7) {
  background-color: rgba(68, 121, 161, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(8) {
  background-color: rgba(109, 179, 63, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(9) {
  background-color: rgba(247, 223, 30, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(10) {
  background-color: rgba(7, 105, 173, 0.6);
}
.wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li:nth-child(11) {
  background-color: rgba(240, 80, 50, 0.6);
}
.wrapper main .projectAll {
  margin-top: 10em;
  padding: 0 3rem;
  height: auto;
}
.wrapper main .projectAll h4 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1;
  color: #222;
}
.wrapper main .projectAll .project-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper main .projectAll .project-wrap .project-view {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 2rem;
  width: 100%;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 h5 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #222;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li a .check {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #222;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li a .check:after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  content: "";
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #222;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li:hover .check:after, .wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li.active .check:after {
  transform: translate(-50%, -50%) scale(2);
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 {
  margin-top: 2em;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 h5 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #222;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li a .check {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #222;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li a .check:after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  content: "";
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #222;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li:hover .check:after, .wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li.active .check:after {
  transform: translate(-50%, -50%) scale(2);
}
.wrapper main .projectAll .project-wrap .project-view .project-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .thumbnail {
  width: 100%;
  min-height: 400px;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
  padding-top: 50%;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .thumbnail figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .thumbnail figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .thumbnail figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .desc strong {
  display: block;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapper main .projectAll .project-wrap .project-view .project-item a .desc span {
  font-size: 1.375rem;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(1) {
  flex-basis: 30vw;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(2) {
  flex-basis: 60%;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(3) {
  flex-basis: 40vw;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(4) {
  flex-basis: 30vw;
  margin-left: 2em;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(5) {
  flex-basis: 40vw;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(6) {
  flex-basis: 40vw;
  margin-left: auto;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(7) {
  flex-basis: 40vw;
  margin-left: auto;
}
.wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(8) {
  flex-basis: 40vw;
  margin-left: 2em;
}
.wrapper main .project {
  padding: 0 3rem;
  height: auto;
  margin-top: 10em;
}
.wrapper main .project .project-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper main .project .project-wrap .project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  gap: 6rem;
  row-gap: 10rem;
  padding-top: 10em;
  width: 100%;
}
.wrapper main .project .project-wrap .project-list .project-item {
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}
.wrapper main .project .project-wrap .project-list .project-item h4 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1;
  color: #222;
}
.wrapper main .project .project-wrap .project-list .project-item a {
  display: inline-block;
  width: 100%;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper main .project .project-wrap .project-list .project-item a .thumbnail figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper main .project .project-wrap .project-list .project-item a .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.wrapper main .project .project-wrap .project-list .project-item a .desc strong {
  display: block;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapper main .project .project-wrap .project-list .project-item a .desc span {
  font-size: 1.375rem;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(1) {
  flex-basis: 30vw;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(2) {
  flex-basis: 50vw;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(3) {
  flex-basis: 40vw;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(4) {
  flex-basis: 30vw;
  margin-left: 2em;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(5) {
  flex-basis: 40vw;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(6) {
  flex-basis: 40vw;
  margin-left: auto;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(7) {
  flex-basis: 40vw;
  margin-left: auto;
}
.wrapper main .project .project-wrap .project-list .project-item:nth-of-type(8) {
  flex-basis: 40vw;
  margin-left: 2em;
}
.wrapper footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0;
  margin-top: 10rem;
  text-align: center;
  font-size: 0.9rem;
}
.wrapper footer .footer-content {
  max-width: 1920px;
  margin: 0 auto;
}
.wrapper footer .footer-content p,
.wrapper footer .footer-content a {
  margin: 0.5rem 0;
}
.wrapper footer .footer-content a {
  color: #fff;
}
.wrapper footer .footer-content a:hover {
  text-decoration: underline;
}
.wrapper footer .social-media {
  margin: 1rem 0;
}
.wrapper footer .social-media a {
  margin: 0 0.5rem;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .wrapper main .hero h2 {
    font-size: 12vw;
  }
  .wrapper main .about {
    padding: 0 2rem;
  }
  .wrapper main .about h4 {
    font-size: 4rem;
  }
  .wrapper main .about .about-wrap .profile {
    flex-direction: column;
  }
  .wrapper main .projectAll {
    padding: 0 2rem;
  }
  .wrapper main .projectAll h4 {
    font-size: 4rem;
  }
  .wrapper main .projectAll .project-wrap .project-view {
    flex-direction: column;
    align-items: normal;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item:nth-of-type(1) {
    padding-bottom: 5em;
  }
  .wrapper main .project {
    padding: 0 2rem;
  }
  .wrapper main .project .project-wrap .project-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 4%;
    row-gap: 5rem;
    padding-top: 0;
    width: 100%;
  }
  .wrapper main .project .project-wrap .project-list .project-item {
    flex-basis: 48% !important;
    height: 100%;
  }
  .wrapper main .project .project-wrap .project-list .project-item a {
    height: auto;
  }
  .wrapper main .project .project-wrap .project-list .project-item:nth-of-type(4) {
    margin-left: 0;
  }
  .wrapper main .project .project-wrap .project-list .project-item:nth-of-type(6) {
    margin-left: 0;
  }
}
@media screen and (max-width: 750px) {
  .wrapper {
    width: 100%;
  }
  .wrapper header h1 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .wrapper header h1 a:after {
    content: "eun";
  }
  .wrapper header nav ul li {
    margin-left: 0;
  }
  .wrapper header nav ul li a {
    padding: 2px 10px;
    font-size: 1rem;
  }
  .wrapper main .hero {
    height: initial;
    padding: 10em 1.2rem;
  }
  .wrapper main .hero h2 {
    font-size: 14vw;
  }
  .wrapper main .about {
    padding: 0 1rem;
  }
  .wrapper main .about h4 {
    font-size: 2.5rem;
  }
  .wrapper main .about .about-wrap .profile {
    flex-direction: column;
  }
  .wrapper main .about .about-wrap .profile .profile-img {
    width: 100%;
  }
  .wrapper main .about .about-wrap .profile .profile-img div {
    min-width: 200px;
  }
  .wrapper main .about .about-wrap .profile .profile-img div img {
    width: 100%;
  }
  .wrapper main .about .about-wrap .profile .profile-text p {
    font-size: 1.125rem;
  }
  .wrapper main .about .about-wrap .profile .profile-text .profile-stack h5 {
    font-size: 1.25rem;
  }
  .wrapper main .about .about-wrap .profile .profile-text .profile-stack .stack-list li {
    padding: 4px 8px;
    font-size: 1rem;
  }
  .wrapper main .projectAll {
    padding: 0 1rem;
  }
  .wrapper main .projectAll h4 {
    font-size: 2.5rem;
  }
  .wrapper main .projectAll .project-wrap .project-view {
    flex-direction: column;
    align-items: normal;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item .project1 ul li {
    font-size: 1.125rem;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item .project2 ul li {
    font-size: 1.125rem;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item a .desc strong {
    font-size: 1.125rem;
  }
  .wrapper main .projectAll .project-wrap .project-view .project-item a .desc span {
    font-size: 1.125rem;
  }
  .wrapper main .project {
    padding: 0 1rem;
  }
  .wrapper main .project .project-wrap .project-list {
    display: initial;
    padding-top: 0;
  }
  .wrapper main .project .project-wrap .project-list .project-item {
    margin-left: 0;
  }
  .wrapper main .project .project-wrap .project-list .project-item a .desc strong {
    font-size: 1.125rem;
  }
  .wrapper main .project .project-wrap .project-list .project-item a .desc span {
    font-size: 1.125rem;
  }
  .wrapper main .project .project-wrap .project-list .project-item:nth-of-type(n) {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 5em;
  }
  .wrapper main .project .project-wrap .project-list .project-item:nth-of-type(2) {
    margin-top: 2em;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
