.project-main {
  padding-top: 60px;
  .intro {
    article {
      position: relative;
      width: 100%;
      height: 100vh;
      //background: url("../images/img.jpg") no-repeat center;
      background-size: cover;

      .title {
        position: absolute;
        left: 0;
        bottom: 2rem;
        padding: 0 1.2rem;

        h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 6vw;
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }

    &.cubank {
      article {
        background: url("../images/mockup_cu02.png") no-repeat center;
        background-size: cover;
      }
    }

    &.sb {
      article {
        background: url("../images/mockup2.webp") no-repeat center;
      }
    }

    &.piino {
      article {
        background: url("../images/mockup3.webp") no-repeat center;
      }
    }

    &.cookshare {
      article {
        background: url("../images/mockup4.jpg") no-repeat center;
      }
    }

    &.farm {
      article {
        background: url("../images/mockup5.webp") no-repeat center;
      }
    }

    &.keybank {
      article {
        background: url("../images/mockup6.webp") no-repeat center;
      }
    }
  }

  .overview {
    padding: 1em 2rem 5em 2rem;

    article {
      position: relative;
      width: 100%;
      padding-bottom: 5em;

      .credit {
        display: flex;
        justify-content: space-between;
        width: 35vw;
        padding-bottom: 5em;
        font-size: .8rem;
      }

      .title {
        line-height: 1;

        h3 {
          line-height: 1.2;
          font-size: 4vw;
          font-weight: 400;
        }
      }

      .content {
        display: flex;
        justify-content: flex-end;
        gap: 2em;
        padding-top: 3em;

        .intention {
          width: 45%;
        }

        .link {
          a {
            figure {
              width: 350px;
              border: 8px solid #222;
              border-radius: 4px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            p {
              display: inline-flex;
              margin-top: 4px;
              font-size: 1.375rem;
              text-transform: uppercase;
              overflow: hidden;
              color: #222;

              .arrows {
                position: relative;
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;

                .arrow {
                  display: inline-block;
                  position: absolute;
                  font-size: 1.2rem;
                  transition: all 0.4s ease;
                }
              }
            }

            &:hover {
              .arrows {
                .arrow {
                  animation: moveUp 1s linear infinite 0.5s;
                }
              }

              @keyframes moveUp {
                0%, 40% {
                  top: 0;
                  left: 0;
                }
                50% {
                  top: -20px;
                  left: 20px;
                }
                50.1% {
                  top: 20px;
                  left: -20px;
                }
                60%, 100% {
                  top: 0;
                  left: 0;
                }
              }
            }
          }
        }

        .intention {
          .desc {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .showing {
    article {
      .title {
        margin-top: 1rem;
        line-height: 1;

        h3 {
          font-size: 4vw;
          font-weight: 600;
          line-height: 1.3;
          padding: 0 1rem;
        }
      }

      .content {
        .desc {
          display: block;
          margin-top: .5rem;
          padding: 0 1.2rem;
          font-size: 1.2rem;
          text-transform: uppercase;
        }

        figure {
          width: 100%;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .images ul,
        .images-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 1rem;

          li,
          .imges-item {
            display: flex;
            flex-direction: column;
            width: 100%;

            .image-box {
              position: relative;;
              width: 100%;
              aspect-ratio: 375 / 667;
              border-radius: 45px;
              border: 10px solid #222;
              overflow: hidden;

              .image,
              figure {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                  display: block;
                  position: absolute;
                  top: 0;
                  width: 100%;
                  min-height: 100%;
                  height: auto;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }

  .showing01 {
    article {
      .content {
        figure {
          width: 100%;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .desc {
          display: block;
          margin-top: .5rem;
          padding: 0 1.2rem;
          font-size: .8rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .showing02 {
    padding: 3em 0;

    article {
      padding: 0 2rem;

      .content {
        display: flex;
        justify-content: flex-start;
        gap: 8rem;

        .intention {
          width: 50vw;

          .desc {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            position: sticky;
            top: 0;
            padding: 2em 0;
            font-size: 2rem;

            .tit {
              font-weight: 600;
              padding-bottom: 10px;
            }
          }
        }

        .images {
          width: 30vw;

          ul {
            display: flex;
            flex-direction: column;

            li {
              width: 100%;
              padding: 1rem 0;

              .image-box {
                position: relative;
                width: 100%;
                aspect-ratio: 375/667;
                border-radius: 45px;
                border: 10px solid #222;
                overflow: hidden;

                .image {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;

                  img {
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    min-height: 100%;
                    height: auto;
                    object-fit: cover;
                  }
                }
              }

              .desc {
                margin-top: 1rem;
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }

  .showing03 {
    article {
      padding: 3em 2rem 10em;

      .content {
        .images {
          ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            gap: 10rem;

            li {
              display: flex;
              flex-direction: column;
              width: 100%;

              .image-box {
                position: relative;
                //max-width: 375px;
                width: 100%;
                //height: 650px;
                aspect-ratio: 375/667;
                border-radius: 45px;
                border: 10px solid #222;
                overflow: hidden;

                .image {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;

                  img {
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    min-height: 100%;
                    height: auto;
                    object-fit: cover;
                  }
                }
              }

              .desc {
                margin-top: 2rem;
                font-size: 1.2rem;
                text-transform: uppercase;

                .tit {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }

  .showing04 {
    padding: 1em 1.2rem;

    article {
      position: relative;
      width: 100%;
      padding: 3em 0 10em;
      border-top: 1px solid #222;

      //.credit{
      //  display: flex;
      //  justify-content: space-between;
      //  width: 35vw;
      //  padding-bottom: 5em;
      //  font-size: .8rem;
      //}

      .title {
        margin-top: 1rem;
        line-height: 1;

        h3 {
          font-size: 4vw;
          font-weight: 400;
          line-height: 1.3;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        padding-top: 1em;

        .intention {
          width: 60vw;

          .desc {
            font-size: 2rem;
          }
        }

        .images-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          position: relative;
          width: 100%;

          .image-item {
            flex-shrink: 0;
            flex-grow: 0;
            margin-top: 10em;
            max-width: 100%;

            .image-box {
              position: relative;
              width: 100%;
              aspect-ratio: 1280/700;
              border-radius: 45px;
              border: 10px solid #222;
              overflow: hidden;

              figure {
                width: 100%;
                height: 100%;
                min-height: 100%;

                img {
                  width: 100%;
                  min-height: 100%;
                  object-fit: cover;
                  height: auto;
                }
              }
            }

            .desc {
              margin-top: .5rem;
              font-size: .8rem;
              text-transform: uppercase;
            }

            &:nth-of-type(1) {
              flex-basis: 40vw;
            }

            &:nth-of-type(2) {
              flex-basis: 40vw;
              margin-left: 2em;
            }

            &:nth-of-type(3) {
              flex-basis: 40vw;
            }

            &:nth-of-type(4) {
              flex-basis: 40vw;
              margin-left: auto;
            }

          }
        }

        &.desktop {
          display: initial;

          .images {
            width: 100%;
            margin-top: 5em;

            ul {
              align-items: center;

              li {
                width: 75vw;

                .image-box {
                  aspect-ratio: 1280 / 700;

                  .image.sb{
                    bottom: 1916px;
                    top: auto;
                  }
                }

                .desc {
                  font-weight: bold;
                }

                &:nth-of-type(1) {
                  margin-right: auto;
                }

                &:nth-of-type(2) {
                  margin-left: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  .showing05 {
    article {
      position: relative;
      width: 100%;
      padding: 3em 0 10em;
      border-top: 1px solid #222;

      //.credit{
      //  display: flex;
      //  justify-content: space-between;
      //  width: 35vw;
      //  padding-bottom: 5em;
      //  font-size: .8rem;
      //}

      //.title{
      //  margin-top: 1rem;
      //  line-height: 1;
      //  h3{
      //    font-size: 4vw;
      //    font-weight: 400;
      //    line-height: 1.3;
      //  }
      //}
      .content {
        display: flex;
        flex-direction: column;
        padding-top: 1em;

        .intention {
          width: 60vw;

          .desc {
            font-size: 2rem;
          }
        }

        .images {
          margin-top: 5em;

          figure {
            width: 100%;

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .desc {
            margin-top: .5rem;
            font-size: .8rem;
            text-transform: uppercase;
          }
        }

      }
    }
  }

  .footer-credit {
    padding: 1em 1.2rem;

    article {
      display: flex;
      border-top: 1px solid #222;
      padding-top: 2em;

      .credit {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 35vw;
        padding-bottom: 5em;
        font-size: .8rem;
        text-transform: uppercase;

        .name {
          font-size: 1.25rem;
        }
      }
    }

  }
}

  @media screen and (max-width: 950px) {
    .project-main{
      .overview {
        article {
          .title{
            h3{
              font-size: 5vw;
            }
          }
          .content {
            justify-content: flex-start;
            align-items: flex-end;
            .intention {
              width: 50vw;
            }
          }
        }
      }
      .showing03{
        article{
          .content{
            .images{
              ul{
                gap: 2rem;
              }
            }
          }
        }
      }
      .showing04{
        article{
          .content{
            &.desktop{
              .images{
                ul{
                  li{
                    .image-box{
                      aspect-ratio: 1280 / 900;
                      .image.sb{
                        bottom: 700px;
                        top: auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    header {
      h1 {
        font-size: 1.5rem;
        white-space: nowrap;

        a:after {
          content: 'eun';
        }
      }

      nav {
        ul {
          li {
            margin-left: 0;

            a {

              padding: 2px 10px;
              font-size: 1rem;
            }
          }
        }
      }
    }

    .project-main {
      .intro {
        article {
          height: 50vh;

          .title {
            h2 {
              line-height: initial;
              word-break: keep-all;
            }
          }
        }
      }

      .overview {
        article {
          height: initial;

          .credit {
            width: 100%;
            padding-bottom: 1em;
          }

          .title {
            h3 {
              font-size: 5vw;
              font-weight: 500;
            }
          }

          .content {
            flex-direction: column;
            align-items: normal;
            padding-top: 2em;

            .intention{
              width: 100%;
              .desc{
                font-size: 1.5rem;
              }
            }

            .link {
              a {
                figure {
                  width: 250px;
                  border: 4px solid #222;
                }

                p {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }

      .showing02 {
        article {
          .content {
            display: initial;

            .intention {
              width: 100%;

              .desc{
                font-size: 1.5rem;
              }
            }

            .images {
              width: 100%;

              ul {
                display: initial;
              }
            }

            &.desktop {
              .images {
                ul {
                  align-items: center;

                  li {
                    width: 100%;

                    .image-box {
                      aspect-ratio: 1280 / 900;
                      border: 5px solid #222;
                      border-radius: 20px;
                    }

                    &:nth-of-type(1) {
                      margin-right: 0;
                    }

                    &:nth-of-type(2) {
                      margin-left: 0;
                    }
                  }
                }
              }
            }
          }
        }

      }

      .showing03 {
        article {
          .content {
            .images {
              ul {
                display: flex;
                flex-direction: column;
                gap: 5rem;
              }
            }
          }
        }
      }

      .showing04 {
        article {
          padding: 3em 0 5em;

          .title {
            h3 {
              font-size: 6vw;
              font-weight: 500;
            }
          }

          .content {
            .intention {
              width: 100%;
            }

            .images-list {
              display: initial;

              .image-item {
                .image-box {
                  aspect-ratio: 1280 / 900;
                  border: 5px solid #222;
                  border-radius: 20px;
                }

                margin-top: 5em;

                &:nth-of-type(2) {
                  margin-left: 0;
                }
              }
            }

            &.desktop{
              .images{
                ul{
                  li{
                    width: 100%;
                  }
                }
              }
            }
          }
        }

      }

      .showing05 {
        article {
          padding: 3em 0 5em;

          .title {
            h3 {
              font-size: 5vw;
              font-weight: 500;
            }
          }
        }

          .content {
            .intention {
              width: 100%!important;

              .desc{
                font-size: 1.5rem!important;
              }
            }
          }
        }
      }

      .footer-credit {
        article {
          justify-content: space-around;
        }
      }

    }