@import "reset.scss";
@import "fonts.scss";
@import "cubank.scss";

body{
    overflow-x: hidden;
    background-color: #F9F5EF;
    color: #222;
    font-family: "Montserrat", "Noto Sans KR", "sans-serif";

}
a{
    text-decoration: none;
    color: #222;
}
ul,ol,li{
    list-style: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    transition: all .5s ease;
    //mix-blend-mode: difference;

    h1{
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    nav{
        ul{
            display: flex;
            li{
                margin-left: 1rem;

                &:hover{
                    a{
                        color: #f9f5ef;
                        background-color: #282828;
                        border-radius: 5px;
                    }
                }
                a{
                    display: inline-block;
                    padding: 2px 5px;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}

main{
    margin-left: auto;
    margin-right: auto;
    .hero{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1.2rem;
        height: 100vh;
        h2{
            font-family: "Montserrat", sans-serif;
            font-size: 9vw;
            font-weight: 800;
            line-height: .9;
            text-transform: uppercase;
        }
    }
    .project{
        padding: 0 1.2rem;
        height: 100vh;
        .project-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .project-list{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                position: relative;

                .project-item{
                    flex-shrink: 0;
                    flex-grow: 0;
                    margin-top: 10em;
                    max-width: 100%;

                    h4{
                        font-size: 1.375rem;
                        font-weight: 900;
                        text-transform: uppercase;
                        margin-bottom: 2em;
                    }
                    .project1{
                        h5{
                            font-size: .875rem;
                            font-weight: 400;
                            text-transform: uppercase;
                            margin-bottom: 1em;
                        }
                        ul{
                            li{
                                font-size: 1.25rem;
                                margin-bottom: .5em;

                                a{
                                    .check{
                                        display: inline-block;
                                        position: relative;
                                        width: 1rem;
                                        height: 1rem;
                                        border: 1px solid #222;
                                        border-radius: 50%;
                                        transition: all .5s ease;

                                        &:after{
                                            display: block;
                                            position: absolute;
                                            left: 50%;
                                            top: 50%;
                                            transform: translate(-50%, -50%) scale(0);
                                            content: "";
                                            width: 50%;
                                            height: 50%;
                                            margin: auto;
                                            background-color: #222;
                                            border-radius: 50%;
                                            transition: all 0.2s ease;
                                        }

                                    }
                                }

                                &:hover{
                                    .check{
                                        &:after{
                                            transform: translate(-50%, -50%) scale(2);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .project2{
                        margin-top: 2em;
                        h5{
                            font-size: .875rem;
                            font-weight: 400;
                            text-transform: uppercase;
                            margin-bottom: 1em;
                        }
                        ul{
                            li{
                                font-size: 1.25rem;
                                margin-bottom: .5em;

                                a{
                                    .check{
                                        display: inline-block;
                                        position: relative;
                                        width: 1rem;
                                        height: 1rem;
                                        border: 1px solid #222;
                                        border-radius: 50%;
                                        transition: all .5s ease;

                                        &:after{
                                            display: block;
                                            position: absolute;
                                            left: 50%;
                                            top: 50%;
                                            transform: translate(-50%, -50%) scale(0);
                                            content: "";
                                            width: 50%;
                                            height: 50%;
                                            margin: auto;
                                            background-color: #222;
                                            border-radius: 50%;
                                            transition: all 0.2s ease;
                                        }

                                    }
                                }

                                &:hover{
                                    .check{
                                        &:after{
                                            transform: translate(-50%, -50%) scale(2);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(2){
                        flex-basis: 60vw;
                        margin-left: auto;
                    }
                    &:nth-of-type(3){
                        flex-basis: 40vw;
                    }
                    &:nth-of-type(4){
                        flex-basis: 30vw;
                        margin-left: 2em;
                    }
                    &:nth-of-type(5){
                        flex-basis: 40vw;
                    }
                    &:nth-of-type(6){
                        flex-basis: 40vw;
                        margin-left: auto;
                    }
                    &:nth-of-type(7){
                        flex-basis: 40vw;
                        margin-left: auto;
                    }
                    &:nth-of-type(8){
                        flex-basis: 40vw;
                        margin-left: 2em;
                    }

                    figure{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}


