@import "reset.scss";
@import "fonts.scss";
@import "project.scss";

:root{
    --font-text: "Open Sans",'Noto Sans KR', sans-serif; /*"Lato", sans-serif;*/
    --font-title: 'Montserrat', sans-serif; // main, section
    --font-sub: "Playfair Display", serif;
    --font-logo: 'Lora', serif; /*"Raleway", sans-serif;*/
}

$colors: (
        rgba(#E34F26, 0.6),  // HTML5
        rgba(#1572B6, 0.6),  // CSS3
        rgba(#CC6699, 0.6),  // SCSS
        rgba(#00A4EF, 0.6),  // Responsive Web Design
        rgba(#61DAFB, 0.6),  // React
        rgba(#339933, 0.6),  // Node.js
        rgba(#4479A1, 0.6),  // MySQL
        rgba(#6DB33F, 0.6),  // Spring Boot
        rgba(#F7DF1E, 0.6),  // JavaScript
        rgba(#0769AD, 0.6),  // jQuery
        rgba(#F05032, 0.6)   // Git
);

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.top-button {
  //display: none;
  opacity: 0;
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 20px;
  font-size: 1.2rem;
  font-family: var(--font-text);
  font-weight: 600;
  color: #222;
  border: none;
  border-radius: 50%;
  background-color: #F9F5EF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  cursor: none;
  z-index: 100;

  &:hover {
    background-color: #222;
    color:#fff;
    transform: scale(1.1);
  }
}


.noise {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/noise.webp');
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.05;
  transition: opacity .2s cubic-bezier(.445, .05, .55, .95);
  visibility: visible;
}

.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  mix-blend-mode: difference;
  background-color: forestgreen;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.cursor.active {
  font-size: 0.2rem;
  transform: translate(-50%, -50%);
  mix-blend-mode: normal;
  background-color: #fff;
  color: #222222;
  padding: 0.8rem;
}

/* scroll 애니메이션 */
.title-name,
.title-name span,
.contents {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;

  img{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  &.loaded {
    opacity: 1;
    transform: translateY(0);

    img{
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* hero 애니메이션 */
.cont-wrap {
  position: relative;
  overflow: hidden;
}

/* 공통 애니메이션 효과 설정 */
.cont {
  transition: transform .5s ease-out;
}

/* 초기 transform 설정 */
img.cont,
.sub-tit.cont{
  transform: translateY(100%);
}

.tit.cont {
  transform: translateY(-100%);
}

/* 페이지 로드 후 애니메이션 효과 */
.cont.page-loaded {
  transform: translateY(0); // 원래 위치로 이동
}


html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #F9F5EF;
  color: #222;
  font-family: "Noto Sans KR", "sans-serif";
  cursor: none;
}

a {
  text-decoration: none;
  color: #222;
  cursor: none;
}

ul, ol, li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    position: fixed;
    top: 0;
    max-width: 1920px;
    width: 100%;
    height: 60px;
    z-index: 10;
    transition: all .5s ease;
    //backdrop-filter: blur(10px);
    background-color: #F9F5EF;

    h1 {
      font-family: var(--font-logo);
      //font-family: "Raleway", sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;

      a:after {
        content: 'eunsujeong';
      }
    }
    nav {
      ul {
        display: flex;

        li {
          margin-left: 1rem;

          &:hover {
            a {
              color: #f9f5ef;
              background-color: #282828;
              border-radius: 5px;
            }
          }

          a {
            display: inline-block;
            padding: 2px 5px;
            font-family: var(--font-text);
            //font-family: "Lato", sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  main {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    .parallax-text {
      position: absolute;
      top: 22%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      font-size: 18vw;
      font-family: var(--font-title);
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.05);
      z-index: -1;
      pointer-events: none;
    }

    .hero {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100vh;
      color: #222;
      transition: opacity 0.5s ease-out;

      .hero-wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 1.5rem;
        width: 100%;
        height: 100%;

        .hero-img{
          width: 30vw;
          img{
            width: 100%;

            &.loaded {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        .hero-tit {
          line-height: .9;

          .tit {
            font-family: var(--font-title);
            font-size: 12vw;
            font-weight: 800;
            text-transform: uppercase;

          }

          .sub-tit {
            display: block;
            font-family: var(--font-sub);
            font-style: italic;
            font-weight: 400;
            font-size: 4vw;
            text-align: right;
            line-height: 1.2;
          }
        }
      }
      &.fade-out {
        opacity: 0;
        pointer-events: none;
      }
    }

    .about{
      padding: 0 3rem;
      margin-top: 20em;
      height: auto;

      h4{
        font-family: var(--font-title);
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: .5em;
        line-height: 1;
        color: #222;
        padding-top: 1rem;
        //background-image: url(../images/obj.png);
        //background-repeat: no-repeat;
        //background-position: top 0px left 28rem;

        span{
          display: inline-block;
          opacity: 0;
          transform: translateY(100px);
          transition: opacity 0.5s ease-out, transform 0.5s ease-out;

          &.loaded {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      .about-wrap{
        .profile{
          display: flex;
          gap: 30px;
          .profile-img{
            width: 50%;
            div{
              min-width: 400px;

              img{
                width: 100%;
              }
            }
          }

          .profile-text{
            p{
              padding-bottom: 20px;
              font-size: 1.5rem;
              line-height: 1.5;
              text-align: justify;
            }
            .profile-stack {
              h5 {
                font-size: 1.875rem;
                font-weight: 600;
                line-height: 1.5;
                padding-bottom: 16px;
              }

              .stack-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                li {
                  display: inline-block;
                  padding: 4px 10px;
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.5;
                  border-radius: 8px;
                  color: #F9F5EF;

                  @for $i from 1 through length($colors) {
                    &:nth-child(#{$i}) {
                      background-color: nth($colors, $i);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .projectAll {
        margin-top: 20em;
        padding: 0 3rem;
        height: auto;

      h4 {
        font-family: var(--font-title);
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: .5em;
        line-height: 1;
        color: #222;

        span{
          display: inline-block;
          opacity: 0;
          transform: translateY(100px);
          transition: opacity 0.5s ease-out, transform 0.5s ease-out;

          &.loaded {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      .project-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .project-view {
          display: flex;
          align-items: flex-start;
          position: relative;
          gap: 2rem;
          width: 100%;

          .project-item {
            .project1 {
              h5 {
                font-size: 1rem;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 1em;
                color: #222;
              }

              ul {
                li {
                  font-size: 1.5rem;
                  margin-bottom: .5em;

                  a {
                    .check {
                      display: inline-block;
                      position: relative;
                      width: 1rem;
                      height: 1rem;
                      border: 1px solid #222;
                      border-radius: 50%;
                      transition: all .5s ease;

                      &:after {
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        content: "";
                        width: 50%;
                        height: 50%;
                        margin: auto;
                        background-color: #222;
                        border-radius: 50%;
                        transition: all 0.2s ease;
                      }
                    }
                  }

                  &:hover, &.active {
                    .check {
                      &:after {
                        transform: translate(-50%, -50%) scale(2);
                      }
                    }
                  }
                }
              }
            }

            .project2 {
              margin-top: 2em;

              h5 {
                font-size: 1rem;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 1em;
                color: #222;
              }

              ul {
                li {
                  font-size: 1.5rem;
                  margin-bottom: .5em;

                  a {
                    .check {
                      display: inline-block;
                      position: relative;
                      width: 1rem;
                      height: 1rem;
                      border: 1px solid #222;
                      border-radius: 50%;
                      transition: all .5s ease;

                      &:after {
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        content: "";
                        width: 50%;
                        height: 50%;
                        margin: auto;
                        background-color: #222;
                        border-radius: 50%;
                        transition: all 0.2s ease;
                      }

                    }
                  }

                  &:hover, &.active {
                    .check {
                      &:after {
                        transform: translate(-50%, -50%) scale(2);
                      }
                    }
                  }
                }
              }
            }

            a {
              display: inline-block;
              width: 100%;
              height: 100%;

              .thumbnail {
                width: 100%;
                min-height: 400px;
                height: 100%;
                overflow: hidden;
                z-index: 1;
                position: relative;
                padding-top: 50%;

                figure {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  transition: opacity .5s ease-in-out;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }

                  video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }

              .desc {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: .5rem;
                transition: opacity .5s ease-in-out;

                strong {
                  display: block;
                  font-size: 1.375rem;
                  font-weight: 400;
                  text-transform: uppercase;
                  transition: opacity .5s ease-in-out;

                }

                span {
                  font-size: 1.375rem;
                }
              }
            }

            &:nth-of-type(1) {
              flex-basis: 30vw;
            }

            &:nth-of-type(2) {
              flex-basis: 60%;
              //margin-left: auto;
              //height: calc(100vh - 10em);
            }

            &:nth-of-type(3) {
              flex-basis: 40vw;
            }

            &:nth-of-type(4) {
              flex-basis: 30vw;
              margin-left: 2em;
            }

            &:nth-of-type(5) {
              flex-basis: 40vw;
            }

            &:nth-of-type(6) {
              flex-basis: 40vw;
              margin-left: auto;
            }

            &:nth-of-type(7) {
              flex-basis: 40vw;
              margin-left: auto;
            }

            &:nth-of-type(8) {
              flex-basis: 40vw;
              margin-left: 2em;
            }

          }
        }
      }

      .thumbnail {
        //height: 100%;
      }
      figure {
        video {
          //position: absolute;
          //top: 50%;
          //transform: translateY(-50%);
        }
      }
    }

    .project {
      position: relative;
      padding: 0 3rem;
      height: auto;
      margin-top: 10em;
      transition: all .5s ease;

      .project-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .project-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          position: relative;
          gap: 6rem;
          row-gap: 10rem;
          padding-top: 10em;
          width: 100%;

          .project-item {
            flex-shrink: 0;
            flex-grow: 0;
            max-width: 100%;
            //margin-top: 10em;

            h4 {
              font-size: 5rem;
              font-weight: 900;
              text-transform: uppercase;
              margin-bottom: 1em;
              line-height: 1;
              color: #222;
            }

            a {
              display: inline-block;
              width: 100%;
              transition: transform 1s ease-out;

              .thumbnail {
                width: 100%;
                overflow: hidden;
                z-index: 1;
                position: relative;
                transition: transform 0.5s ease-out;

                figure {
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }

                  video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }

              .desc {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: .5rem;

                strong {
                  display: block;
                  font-size: 1.375rem;
                  font-weight: 400;
                  text-transform: uppercase;
                }

                span {
                  font-size: 1.375rem;
                }
              }
              &:hover{
                .thumbnail{
                  transform: scale(0.95);

                  figure{
                    img{
                      transform: scale(1.2);
                    }
                  }
                }
              }
            }

            &:nth-of-type(1) {
              flex-basis: 30vw;
            }

            &:nth-of-type(2) {
              flex-basis: 50vw;
              //margin-left: auto;
              //height: calc(100vh - 10em);
            }

            &:nth-of-type(3) {
              flex-basis: 40vw;
            }

            &:nth-of-type(4) {
              flex-basis: 30vw;
              margin-left: 2em;
            }

            &:nth-of-type(5) {
              flex-basis: 40vw;
            }

            &:nth-of-type(6) {
              flex-basis: 40vw;
              margin-left: auto;
            }

            &:nth-of-type(7) {
              flex-basis: 40vw;
              margin-left: auto;
            }

            &:nth-of-type(8) {
              flex-basis: 40vw;
              margin-left: 2em;
            }

          }
        }
      }
    }

    .contact{
        padding: 0 4rem;
        margin-top: 10em;
      .contact-wrap{
        padding-top: 5em;
        border-top: 1px solid #222;

        .sub-title{
          h5{
            font-family: var(--font-sub);
            font-size: 2em;
            text-transform: uppercase;
          }
        }

        .title{
          padding-top :5em;

          h3{
            font-family: var(--font-title);
            font-size: 14vw;
            font-weight: 800;
            text-transform: uppercase;
            text-align: right;
            margin-bottom: .5em;
            line-height: 1;
            color: #222;

            span{
              display: inline-block;
              opacity: 0;
              transform: translateY(100px);
              transition: opacity 0.5s ease-out, transform 0.5s ease-out;

              &.loaded {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }

        .contact-info{
          display: flex;
          gap: 1em;
          padding-bottom: 2em;
          p{
            position: relative;
            overflow: hidden;
            a{
              display: flex;
              position: relative;
              z-index: 1;
              padding: .5em 1em;
              font-size: 1.5em;
              font-weight: 500;
              text-transform: uppercase;
              border: 1px solid #222;
              border-radius: 30px;
              transition: all 0.3s ease;
              overflow: hidden;

              i{
                font-size: 0;
              }

              &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                width: 100%;
                background: #222;
                z-index: -1;
                transition: height 0.3s ease-out;
              }

              &.fill-up:hover::before {
                height: 100%;
              }

              &:hover{
                color: #f9f5ef;
              }
            }
          }
        }
      }


    }

  }

  footer {
    background-color: #222;
    color: #fff;
    padding: 2rem 0;
    margin-top: 10rem;
    text-align: center;
    font-size: 0.9rem;

    .footer-content {
      max-width: 1920px;
      margin: 0 auto;
    }
  }

}
@media (min-width: 751px) and (max-width: 1200px){
  .wrapper{
    main{
        .hero{
          h2{
            font-size: 12vw;
          }
        }

        .about{
          padding: 0 2rem;
          h4{
            font-size: 4rem;
          }
          .about-wrap{
            .profile{
              flex-direction: column;
            }
          }
        }

        .projectAll{
          padding: 0 2rem;

          h4{
            font-size: 4rem;
          }
          .project-wrap{
            .project-view{
              flex-direction: column;
              align-items: normal;

              .project-item{
                &:nth-of-type(1){
                  padding-bottom: 5em;
                }
              }
            }
          }
        }

        .project{
          padding: 0 2rem;
          .project-wrap{
              .project-list{
                display: flex;
                flex-wrap: wrap;
                //justify-content: flex-start;
                 position: relative;
                 gap:4%;
                 row-gap: 5rem;
                 padding-top: 0;
                 width: 100%;

                .project-item{
                  flex-basis: 48%!important;
                  height: 100%;
                  a{
                    height: auto;
                  }
                  &:nth-of-type(4){
                      margin-left: 0;
                  }
                  &:nth-of-type(6){
                      margin-left: 0;
                  }
                }
              }
            }
          }

        .contact{
          padding: 0 2rem;
          .contact-wrap{
            .sub-title{
              h5{
                font-size: 1.5em;
              }
            }

            .contact-info{
              p{
                a{
                  i{
                    font-size: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


@media screen and (max-width: 750px) {
  .wrapper {
    width: 100%;

    header {
      h1 {
        font-size: 1.5rem;
        white-space: nowrap;

        a:after {
          content: 'eun';
        }
      }

      nav {
        ul {
          li {
            margin-left: 0;

            a {

              padding: 2px 10px;
              font-size: 1rem;
            }
          }
        }
      }
    }

    main {
      .hero {
        position: relative;
        height: initial;
        padding: 10em 1.2rem;

        h2{
          font-size: 14vw;
        }
      }

      .about{
        padding: 0 1rem;
        h4{
          font-size: 2.5rem;
        }
        .about-wrap{
          .profile{
            flex-direction: column;

            .profile-img{
              width: 100%;
              div{
                min-width: 200px;

                img{
                  width: 100%;
                }
              }
            }

            .profile-text{
              p{
                font-size: 1.125rem;
              }
              .profile-stack {
                h5 {
                  font-size: 1.25rem;
                }

                .stack-list {
                  li {
                    padding: 4px 8px;
                    font-size: 1rem;
                  }
                }
              }
            }


          }
        }
      }

      .projectAll{
        padding: 0 1rem;
        h4{
          font-size: 2.5rem;
        }

        .project-wrap{
          .project-view{
            flex-direction: column;
            align-items: normal;

            .project-item{
              .project1{
                ul{
                  li{
                    font-size: 1.125rem;
                  }
                }
              }
              .project2{
                ul{
                  li{
                    font-size: 1.125rem;
                  }
                }
              }

              a{
                .desc{
                  strong{
                    font-size: 1.125rem;
                  }
                  span{
                    font-size: 1.125rem;
                  }
                }
              }
            }
          }
        }
      }

      .project {
        padding: 0 1rem;
        .project-wrap {
          .project-list {
            display: initial;
            padding-top: 0;

            .project-item {
              margin-left: 0;

              a {
                .desc {
                  strong {
                    font-size: 1.125rem;
                  }

                  span {
                    font-size: 1.125rem;
                  }
                }
              }

              &:nth-of-type(n) {
                flex-basis: 100%;
                margin-left: 0;
                margin-top: 5em;
              }

              &:nth-of-type(2) {
                margin-top: 2em;
                height: auto;
              }
            }
          }
        }
      }

      .contact{
        padding: 0 1rem;
        margin-top: 10em;
        .contact-wrap{
          padding-top: 3em;

          .sub-title{
            h5{
              font-size: .8em;
              text-align: center;
            }
          }
          .title{
            padding-top :3em;
            h3{
              text-align: center;
            }
          }

          .contact-info{
            display: flex;
            justify-content: center;
            gap: 1em;
            padding-bottom: 2em;
            p{
              position: relative;
              overflow: hidden;
              a{
                display: block;
                position: relative;
                z-index: 1;
                padding: .5em 1em;
                font-size: 0;
                font-weight: 500;
                text-transform: uppercase;
                border: 1px solid #222;
                border-radius: 30px;
                transition: all 0.3s ease;
                overflow: hidden;

                i{
                  font-size: 1.5rem;
                  padding: 1rem;
                }

                &::before{
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  height: 0;
                  width: 100%;
                  background: #222;
                  z-index: -1;
                  transition: height 0.3s ease-out;
                }

                &.fill-up:hover::before {
                  height: 100%;
                }

                &:hover{
                  color: #f9f5ef;
                }
              }
            }
          }
        }
      }
    }

    footer{
      margin-top: 2em!important;
    }
  }
}


