@import "reset";
@import "variables";
@import "common";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


html{
  font-size: 62.5%;
}

body{
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
  Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
  'Malgun Gothic', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  font-size: 1.6rem; // 1rem = 10px
}

main{
  display: flex;
  flex-direction: column;
  gap: calc(100vw * 0.10);
}

.layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem;

  @media (max-width: 1024px) {
    padding: 0 2.4rem;
  }

  @media (max-width: 768px) {
    padding: 0 1.8rem;
  }

  @media (max-width: 480px) {
    padding: 0 1.2rem;
  }
}

