@import "reset";
@import "variables";
@import "common";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


html{
  font-size: 62.5%;
}

body{
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
  Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
  'Malgun Gothic', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  font-size: 1.6rem; // 1rem = 10px
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 1024px) {
    padding: 0 1.6rem;
  }

  @media (max-width: 768px) {
    padding: 0 1.2rem;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }
}
